{% extends "base.html" %}
{% block content %}
<DIV class="row">
	<DIV class="col-md-12">
		<DIV class="table-reponsive">
			<table id="studentListTable" class="display" width="100%"></table>
		</DIV>
	</DIV>
</DIV>

<SCRIPT>
	var dataSet = [
		{% for student in students %}
		[
{% if not instituteid %}
			"{{student.info.aid.name}}",
{% endif %}
                        "{{student.info.sname}}",
			"{% if student.phonenumber %}{{student.phonenumber}}{% endif %}",
			"{% if student.age %}{{student.age}}세{% endif %}",
			"{{student.info.personinfo.pin_number}}",
			"<input type='checkbox' name='sid[]' value='{{student.info.id}}'>&nbsp&nbsp최근전송날짜:{{student.info.sended_time}}",
			'<p data-placement="top" data-toggle="tooltip" title="Edit" class="p_bottom_0"><button class="btn btn-primary btn-sm updateStudent" data-title="Edit" data-sid="{{student.info.id}}" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>',
			'<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-sm deleteStudent" data-title="Delete" data-sid="{{student.info.id}}" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>',
		],
		{% endfor %}
	];
	$(document).ready(function() {
		var table = $('#studentListTable').DataTable({
			data : dataSet,
			columns : [
{% if not instituteid %}
				{ title : "학원" },
{% endif %}				
                                { title : "이름" },
				{ title : "부모님연락처" },
				{ title : "나이" },
				{ title : "PIN" },
				{ sTitle : 'PIN전송&nbsp&nbsp<button type="button" class="btn btn-primary btn-xs preventSorting sendMessage" value=0 >신규선택전송</button>&nbsp&nbsp<button type="button" class="btn btn-info btn-xs preventSorting sendMessage" value=1>신규전체전송</button>&nbsp&nbsp<button type="button" class="btn btn-success btn-xs preventSorting sendMessage" value=2>기존전체전송</button>&nbsp&nbsp<button type="button" class="btn btn-warning btn-xs preventSorting sendMessage" value=3>핀선택재전송</button>' },
				{ title : "수정" },
				{ title : "삭제" },
			],
			"lengthMenu": [10, 25, 50, 100],
		});

		$('.updateStudent').on('click', function(e) {
			location.href = "updateStudentsForm?sid=" + $(this).data('sid')
		});
		$('.deleteStudent').on('click', function(e) {
			location.href = "deleteStudent?sid=" + $(this).data('sid')
		});

		// every event is deleted when paging
		$('#studentListTable').on( 'draw.dt', function () {
			$('.updateStudent').on('click', function(e) {
				location.href = "updateStudentsForm?sid=" + $(this).data('sid')
			});
			$('.deleteStudent').on('click', function(e) {
				if (confirm("학생 삭제를 하시겠습니까?")) {
					location.href = "deleteStudent?sid=" + $(this).data('sid')
				}
				else {
					return false;
				}
			});
		});

		$('.sendMessage').on('click', function(){
			//val == 1 -> 전체전송 val == 0 -> 선택전송
			var kind = $(this).val();
      var sid = $('input:checkbox[name="sid[]"]:checked').map(function(){return parseInt($(this).val())}).get();

			$.ajax({
        type: 'POST',
        url: 'http://test.edticket.com/message/sendMessage',
        data: {
					kind: kind,
					sid: sid
        },
        success: function(data) {
					location.reload();
        }
      });
		});

		$('.preventSorting').on('click', function(e){
       e.stopPropagation();
    });
	});
</SCRIPT>
{% endblock content %}
