{% extends "../../institute/templates/base.html" %}
{% block content %}
	<DIV class='row'>
		<DIV class='col-md-12'>
			<p>
		</DIV>
	</DIV>
	<FORM action='inventories' id='inventoryForm'>
	<DIV class='row'>
		<!-- DIV class='col-md-2'>
		</DIV>
		<DIV class='col-md-1'>
					학생수
		</DIV>
		<DIV class='col-md-4'>
			<DIV class='row'>
				<DIV class='col-md-1'>
				</DIV>
				<DIV class='col-md-1'>
					<button type="button" class="vis-item green">..</button>
				</DIV>
				<DIV class='col-md-1'>
					&lt
				</DIV>
				<DIV class='col-md-2'>
					<SELECT name="green_numofstudent" class="form-control">
						{% for i in range %}
						<OPTION {% if i == green_numofstudent %} selected {% endif %}>{{i}}</OPTION>
						{% endfor %}
					</SELECT>
				</DIV>
				<DIV class='col-md-1'>
					&lt
				</DIV>
				<DIV class='col-md-1'>
					<button type="button" class="vis-item orange">..</button>
				</DIV>
				<DIV class='col-md-1'>
					&lt
				</DIV>
				<DIV class='col-md-2'>
					<SELECT name="orange_numofstudent" class="form-control">
						{% for i in range %}
						<OPTION {% if i == orange_numofstudent %} selected {% endif %}>{{i}}</OPTION>
						{% endfor %}
					</SELECT>
				</DIV>
				<DIV class='col-md-1'>
					&lt
				</DIV>
				<DIV class='col-md-1'>
					<button type="button" class="vis-item red">..</button>
				</DIV>
			</DIV>
		</DIV //-->
		<DIV class='col-md-3'>
				<SELECT name="bid" class="form-control" id="branchSelect">
					<OPTION value = "0">지역선택</OPTION>
					{% for branch in branches %}
					<OPTION value = "{{branch.id}}" {% if bid == branch.id %} selected {% endif %}> {{branch.bname}} </OPTION>
					{% endfor %}
				<SELECT>
		</DIV>
		<DIV class='col-md-2'>
				<SELECT name="day" class="form-control" id="daySelect">
					<OPTION value = "0">요일</OPTION>
					{% for d in dayrange %}
					<OPTION value = "{{d}}" {% if day == d %} selected {% endif %}> {{d}} </OPTION>
					{% endfor %}
				<SELECT>
		</DIV>
		<DIV class='col-md-3'>
				<SELECT name="aid" class="form-control" id="academySelect">
					<OPTION value = "0">학원선택</OPTION>
					{% for academy in academies %}
					<OPTION value = "{{academy.id}}" {% if aid == academy.id %} selected {% endif %}> {{academy.name}} </OPTION>
					{% endfor %}
				<SELECT>
		</DIV>
		<DIV class='col-md-4'>
			<input type="submit">
		</DIV>
	</DIV>
	<DIV class='row'>
		<DIV class='col-md-12'>
			<p>
		</DIV>
	</DIV>
	</FORM>
	<DIV id="timeline"></DIV>
<SCRIPT>
	var container = document.getElementById('timeline');
	var items = new vis.DataSet();
	var todayStart = new Date();
	var todayEnd = new Date();

	var groups = new vis.DataSet([
{% for shuttle in shuttles %}
	{id : {{shuttle}}, content: '{{shuttle}}호차', value:{{shuttle}}},
{% endfor %}
	]);

{% for crowdedbus in crowdedbuses %}
	todayStart.setHours({{crowdedbus.stime_hr}});
	todayStart.setMinutes({{crowdedbus.stime_min}});
	todayEnd.setHours({{crowdedbus.etime_hr}});
	todayEnd.setMinutes({{crowdedbus.etime_min}});
	items.add({
		group: {{crowdedbus.carnum}},
		content: '<a href="http://www.edticket.com/inventory/updateSchedule?areaid=1&bid=1&day={{day}}&searchTime=&updateflag=2&searchinven=2&car={{crowdedbus.carnum}}">' + {% if aid > 0 and aid in crowdedbus.alist %} '{{aname}}' {% else %} '{{ crowdedbus.carnum }}호차' {% endif %} + '</a>',
		start: new Date(todayStart),
		end: new Date(todayEnd),
		className: {% if aid > 0 and not aid in crowdedbus.alist %} 'grey' {% else %} {% if crowdedbus.numofstudent < green_numofstudent %} 'green' {% elif crowdedbus.numofstudent < orange_numofstudent %} 'orange' {% else %} 'red' {% endif %} {% endif %},
	});
{% endfor %}

	var options = {
		groupOrder: function(a, b) {
			return a.value - b.value;
		},
		zoomMin: 1000 * 60 * 60 * 14,
	};
	var timeline = new vis.Timeline(container, items, options);
	timeline.setGroups(groups);

	$('#branchSelect,#academySelect,#daySelect').change(function() {
		$('#inventoryForm').submit();
	});
</SCRIPT>
{% endblock content %}
