<HTML>
<HEAD>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="10" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
	<style type="text/css">

    .vis-item.orange {
      background-color: gold;
      border-color: orange;
    }
    .vis-item.vis-selected.orange {
      /* custom colors for selected orange items */
      background-color: orange;
      border-color: orangered;
    }
	</style>

</HEAD>
<BODY>
{% for inven in invens %}
	<div id="timeline_{{inven.id}}"></div>
{% endfor %}
<script>
	var container;
	var items;
	var today;
	var busitem;
	var busimg;

	today = new Date();
	var diff_hour = 0;
	{% for inven in invens %}
		container = document.getElementById('timeline_{{inven.id}}');
		items = new vis.DataSet();
		{% for schedule in inven.schedules %}
			today.setHours({{schedule.hour}} + diff_hour);
			today.setMinutes({{schedule.minute}});
			items.add({
				content: "{{schedule.addr}}",
				start: new Date(today)
			});
		{% endfor %}

		busitem = document.createElement('div');
		busitem.appendChild(document.createTextNode('{{inven.shuttle.carnum}}호차'));
		busitem.appendChild(document.createElement('br'));
		busimg = document.createElement('img');
		busimg.src = 'http://www.tayotayo.net/static/img/header/bus.png';
		busimg.style.width = '48px';
		busimg.style.height = '48px';
	
		busitem.appendChild(busimg);
	
		today.setHours({{inven.shuttle.hour}} + diff_hour);
		today.setMinutes({{inven.shuttle.minute}});
		items.add({
			'content': busitem,
			//'start': new Date(new Date().getTime() - 60*100*({{inven.shuttle.diff}}) ),
			'start': new Date(today),
			'className': 'orange'
		});


		var options = {
			start: new Date(new Date().getTime() - 5*60*60*100),
			end: new Date(new Date().getTime() + 5*60*60*100),
			rollingMode: {
				follow: true,
				offset: 0.5
			},
			timeAxis: {
				scale: 'minute',
				step: 5
			}
		}
		timeline{{inven.id}} = new vis.Timeline(container, items, null, options);
	{% endfor %}
	
</script>
</BODY>
</HTML>
