{% extends 'admin/base.html' %} {% block content %}
<div class="row">
  <!-- Button trigger modal -->
  <div class="col-md-2">
    <label>AREA:</label>
    <select name="areaid" class="form-control" form="searchform" id="areaSelected">
          <option value="" selected>지역선택</option>
            {% for a in area %}
            {% if a.id == areaid %}
            <option value="{{a.id}}" selected>{{a.name}}</option>
            {% else %}
            <option value="{{a.id}}">{{a.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
  </div>
  <div class="col-md-2">
    <label>BRANCH:</label>
    <select name="bid" class="form-control" form="searchform" placeholder='지점' id="branch">
        {% for b in branch %}
          {% if b.id == bid %}
          <option value="{{b.id}}" selected>{{b.bname}}</option>
          {% else %}
          <option value="{{b.id}}">{{b.bname}}</option>
          {% endif %}
        {% endfor %}
      </select>
  </div>
  <div class="col-md-2">
    <label>ACA:</label>
    <select name="aca" class="form-control" form="searchform" placeholder='학원' id="academy_branch">
        {% for a in academy %}
          {% if a.id == aid %}
          <option value="{{a.id}}" selected>{{a.name}}</option>
          {% else %}
          <option value="{{a.id}}">{{a.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
  </div>
  <div class="col-md-2">
    <label>DAY:</label>
    <select name="day" class="form-control" form="searchform">
        {% if day == '월' %}
        <option value="월" selected>월</option>
        <option value="화">화</option>
        <option value="수">수</option>
        <option value="목">목</option>
        <option value="금">금</option>
        <option value="토">토</option>
        {% elif day == '화' %}
        <option value="월">월</option>
        <option value="화" selected>화</option>
        <option value="수">수</option>
        <option value="목">목</option>
        <option value="금">금</option>
        <option value="토">토</option>
        {% elif day == '수' %}
        <option value="월">월</option>
        <option value="화">화</option>
        <option value="수" selected>수</option>
        <option value="목">목</option>
        <option value="금">금</option>
        <option value="토">토</option>
        {% elif day == '목' %}
        <option value="월">월</option>
        <option value="화">화</option>
        <option value="수">수</option>
        <option value="목" selected>목</option>
        <option value="금">금</option>
        <option value="토">토</option>
        {% elif day == '금' %}
        <option value="월">월</option>
        <option value="화">화</option>
        <option value="수">수</option>
        <option value="목">목</option>
        <option value="금" selected>금</option>
        <option value="토">토</option>
        {% elif day == '토' %}
        <option value="월">월</option>
        <option value="화">화</option>
        <option value="수">수</option>
        <option value="목">목</option>
        <option value="금">금</option>
        <option value="토" selected>토</option>
        {% else %}
        <option value="월" selected>월</option>
        <option value="화">화</option>
        <option value="수">수</option>
        <option value="목">목</option>
        <option value="금">금</option>
        <option value="토">토</option>
        {% endif %}
      </select>
  </div>
  <div class="col-md-2">
    <label>TIME:</label>
    <input type="text" name='searchTime' form="searchform" class="form-control" id="timeSerach" value="{{searhTime}}" />
  </div>
  <div class="col-md-2">
    <label>SEARCH:</label>
    <form action="acaUpdateSchedule" method="GET" enctype='application/json' onsubmit="return validateSearchForm()" id="searchform">
      <input type="hidden" name='searchinven' class="form-control" value="1" form="searchform" />
      <input type="submit" id="carlistSearch" class="btn btn-success" value="검색">
    </form>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" align="center">
    <!--  <input type="hidden" name='bid' class="form-control" value="{{bid}}" form="searchform2" />
      <input type="hidden" name='day' class="form-control" value="{{day}}" form="searchform2" />
      <input type="hidden" name='time' class="form-control" value="{{time}}" form="searchform2" /> -->
    <input type="hidden" name='updateflag' class="form-control" value="2" form="searchform2" />
    <input type="hidden" name='searchinven' class="form-control" value="2" form="searchform2" />
    <input type="hidden" name='updateflag' class="form-control" value="2" form="searchform2" />
    <div class="row">
      <div class="col-md-3" align="right"></div>
      <div class="col-md-6" align="center">
      {% if day == '월' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=월&searchTime={{searchTime}}&searchinven=1'">월</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=월&searchTime={{searchTime}}&searchinven=1'">월</button>
      {% endif %}
      {% if day == '화' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=화&searchTime={{searchTime}}&searchinven=1'">화</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=화&searchTime={{searchTime}}&searchinven=1'">화</button>
      {% endif %}
      {% if day == '수' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=수&searchTime={{serachTime}}&searchinven=1'">수</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=수&searchTime={{serachTime}}&searchinven=1'">수</button>
      {% endif %}
      {% if day == '목' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=목&searchTime={{searchTime}}&searchinven=1'">목</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=목&searchTime={{searchTime}}&searchinven=1'">목</button>
      {% endif %}
      {% if day == '금' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=금&searchTime={{searchTime}}&searchinven=1'">금</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=금&searchTime={{searchTime}}&searchinven=1'">금</button>
      {% endif %}
      {% if day == '토' %}
      <button type="button" class="btn btn-info" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=토&searchTime={{searchTime}}&searchinven=1'">토</button>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="location.href='acaUpdateSchedule?areaid={{areaid}}&bid={{bid}}&aca={{aid}}&day=토&searchTime={{searchTime}}&searchinven=1'">토</button>
      {% endif %}
      <a href="#" class="btn btn-warning" id="openBtn">인벤추가</a>
      </div>
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>인벤토리추가</h3>
        </div>
        <div class="modal-body">
          <iframe src="putSchedule?bid={{bid}}&day={{day}}&week={{week}}" width="90%" height="550"></iframe>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">OK</button>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div align="center">
        <label>WEEK:</label>
        <form action="acaUpdateSchedule" method="get" class="searchedByCar">
          <input type="hidden" name='week' class="form-control" value="0" />
          <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
          <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
          <input type="hidden" name='aca' class="form-control" value="{{aid}}" />
          <input type="hidden" name='day' class="form-control" value="{{day}}" />
          <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
          <input type="hidden" name='searchinven' class="form-control" value="1" />
          {% if week == 0 %}
          <button type="submit" class="btn btn-info">금주</button>
          {% else %}
          <button type="submit" class="btn btn-primary">금주</button>
          {% endif %}
        </form>
        <form action="acaUpdateSchedule" method="get" class="searchedByCar">
          <input type="hidden" name='week' class="form-control" value="1" />
          <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
          <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
          <input type="hidden" name='aca' class="form-control" value="{{aid}}" />
          <input type="hidden" name='day' class="form-control" value="{{day}}" />
          <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}"/>
          <input type="hidden" name='searchinven' class="form-control" value="1" />
          {% if week == 1 %}
          <button type="submit" class="btn btn-info">1주 후</button>
          {% else %}
          <button type="submit" class="btn btn-primary">1주 후</button>
          {% endif %}
        </form>
        <form action="acaUpdateSchedule" method="get" class="searchedByCar">
          <input type="hidden" name='week' class="form-control" value="2" />
          <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
          <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
          <input type="hidden" name='aca' class="form-control" value="{{aid}}" />
          <input type="hidden" name='day' class="form-control" value="{{day}}" />
          <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
          <input type="hidden" name='searchinven' class="form-control" value="1" />
          {% if week == 2 %}
          <button type="submit" class="btn btn-info">2주 후</button>
          {% else %}
          <button type="submit" class="btn btn-primary">2주 후</button>
          {% endif %}
        </form>
        <form action="acaUpdateSchedule" method="get" class="searchedByCar">
          <input type="hidden" name='week' class="form-control" value="3" />
          <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
          <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
          <input type="hidden" name='aca' class="form-control" value="{{aid}}" />
          <input type="hidden" name='day' class="form-control" value="{{day}}" />
          <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
          <input type="hidden" name='searchinven' class="form-control" value="1" />
          {% if week == 3 %}
          <button type="submit" class="btn btn-info">3주 후</button>
          {% else %}
          <button type="submit" class="btn btn-primary">3주 후</button>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <br>
  <br>
  {% for c in contacts %}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background-color:rgb(201, 214, 222); height: auto; width: 100%; border-radius: 25px;">
      <div class="col-md-12 table-responsive">
        <br>
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-2 text-center" style="background-color:white; border-radius:10px;">
            <h3 style="font-family: 'Lucida Console'; font-weight: bold; color:rgb(77,77,77)">{{c.stime}} - {{c.etime}}</h3>
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="row">
          </div>
          <div class="col-md-8">
            <textarea class="form-control" style="border-radius: 15px;" rows="4" id="{{c.id}}text">{{c.req}}</textarea>
          </div>
          <div class="col-md-1">
            {% if c.get_cname == 'editedinven' %}
            <div class="row"><button type="button" class="btn btn-primary" onclick="reqInventory({{c.id}},1);">저장</button></div>
            <br>
            <div class="row"><button type="button" class="btn btn-success" onclick="reqInventory({{c.id}},1);">수정</button></div>
            {% else %}
            <div class="row"><button type="button" class="btn btn-primary" onclick="reqInventory({{c.id}},0);">저장</button></div>
            <br>
            <div class="row"><button type="button" class="btn btn-success" onclick="reqInventory({{c.id}},0);">수정</button></div>
            {% endif %}
          </div>
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">
                학원: {% for a in c.anamelist %} {{a}} | {%endfor%}
              </li>
              <li class="list-group-item">학생 수: {{c.snum}}</li>
              <li class="list-group-item">요일: {{c.day}}</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="row table-container">
          <table class="table table-bordered table-schedule">
            <thead>
              <tr>
                <th class="text-center">시간</th>
                <th class="text-center thstyle2">주소</th>
                <th class="text-center thstyle2">이름</th>
                <th class="text-center thstyle3">이름추가</th>
                <th class="text-center thstyle3">등하원</th>
                <th class="text-center thstyle3">삭제</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% if c.scheduletables %} {% for s in c.scheduletables.all %}
              <tr>
                <td data-name="time"><input onchange="emptyTempList();" type="text" name="time[]" placeholder="Time" class="form-control" form="scheduleform{{c.id}}" value="{{s.time}}" /></td>
                <td data-name="addr"><input type="text" name="addr[]" placeholder="Address" class="form-control" form="scheduleform{{c.id}}" value="{{s.addr}}" /></td>
                <td data-name="name" class="inputTd">
                  <input type="text" name="name[]" data-role="tagsinput" class="form-control tInput" form="scheduleform{{c.id}}" value="{% for name in s.sname %}{{name}}{% include 'comma.html' %}{% endfor %}" />
                </td>
                <td data-name="addstu"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal"></button></td>
                <td data-name="academy" class="inputAcaU" style="display:none;"><input name="academy[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform{{c.id}}" value="{% for aid in s.alist %}{{aid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform{{c.id}}" value="{% for sid in s.slist %}{{sid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="load">
                  {% if s.lflag == 1 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">등하원</option>
                      <option value="1" selected>등원</option>
                      <option value="0">하원</option>
                    </select> {% endif %} {% if s.lflag == 0 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">등하원</option>
                      <option value="1">등원</option>
                      <option value="0" selected>하원</option>
                    </select> {% endif %} {% if s.lflag == 2 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">출발</option>
                    </select> {% endif %} {% if s.lflag == 3 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">도착</option>
                    </select> {% endif %}
                </td>
                <td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td>
              </tr>
              {% endfor %} {% elif c.editedscheduletables %} {% for es in c.editedscheduletables.all %}
              <tr>
                <td data-name="time"><input onchange="emptyTempList();" type="text" name="time[]" placeholder="Time" class="form-control" form="scheduleform{{c.id}}" value="{{es.time}}" /></td>
                <td data-name="addr"><input type="text" name="addr[]" placeholder="Address" class="form-control" form="scheduleform{{c.id}}" value="{{es.addr}}" /></td>
                <td data-name="name" class="inputTd">
                  <input type="text" name="name[]" data-role="tagsinput" class="form-control tInput" form="scheduleform{{c.id}}" value="{% for name in es.sname %}{{name}}{% include 'comma.html' %}{% endfor %}" />
                </td>
                <td data-name="addstu"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal"></button></td>
                <td data-name="academy" class="inputAcaU" style="display:none;"><input name="academy[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform{{c.id}}" value="{% for aid in es.alist %}{{aid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform{{c.id}}" value="{% for sid in es.slist %}{{sid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="load">
                  {% if es.lflag == 1 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">등하원</option>
                      <option value="1" selected>등원</option>
                      <option value="0">하원</option>
                    </select> {% endif %} {% if es.lflag == 0 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">등하원</option>
                      <option value="1">등원</option>
                      <option value="0" selected>하원</option>
                    </select> {% endif %} {% if es.lflag == 2 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">출발</option>
                    </select> {% endif %} {% if es.lflag == 3 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                      <option value="">도착</option>
                    </select> {% endif %}
                </td>
                <td data-name="move">
                  <a href="javascript:void(0)" class="glyphicon glyphicon-chevron-up up"></a>
                  <a href="javascript:void(0)" class="glyphicon glyphicon-chevron-down down"></a>
                </td>
                <td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
            <div class="modal fade" id="addstu" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <select id="academyselect" class="form-control"><option value="">학원선택</option>{% for a in academy %}<option value = "{{a.id}}">{{a.name}}</option>{% endfor %}</select>
                    <br>
                    <select id="studentList" class="form-control"></select>
                    <input type="hidden" id="rowid" value="" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary studenttoinput">학생추가</button>
                  </div>
                </div>
              </div>
          </table>
          <a id="{{c.id}}" class="btn btn-default pull-right addrow">Add Row</a>
          </div>
          <br>
          <div class="row pull-right">
              <form class="savedelete submitForm" accept-charset="" action="acaUpdateSchedule" method="post" enctype='application/json' onsubmit="return validateTableForm(this.id)" id="scheduleform{{c.id}}">
                <input class="hidden" name="iid" value="{{c.id}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name="bid" value="{{bid}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='searchTime' value="{{time}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='aca' value="{{aid}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='areaid' value="{{areaid}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='day' value="{{day}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='carnum' value="{{carnum}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name='week' value="{{week}}" form="scheduleform{{c.id}}" />
                <input class="hidden" name="update" value="1" form="scheduleform{{c.id}}" />
                <input type="hidden" name="carnum" value="{{c.carnum}}" form="scheduleform{{c.id}}">
                <button type="submit" class="btn btn-success">저장</button>
              </form>
              {% if c.get_cname == 'editedinven' %}
              <form class="savedelete submitForm" action="acaUpdateSchedule" method="post" id="deleteform{{c.id}}" onSubmit="return confirm('정말 삭제 하시겠어요?');">
                <input class="hidden" name="iid" value="{{c.id}}" form="deleteform{{c.id}}" />
                <input class="hidden" name="bid" value="{{bid}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='searchTime' value="{{time}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='aca' value="{{aid}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='areaid' value="{{areaid}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='day' value="{{day}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='carnum' value="{{carnum}}" form="deleteform{{c.id}}" />
                <input class="hidden" name='week' value="{{week}}" form="deleteform{{c.id}}" />
                <input class="hidden" name="update" value="0" form="deleteform{{c.id}}" />
                <input class="hidden" name='carnum' value="{{c.carnum}}" form="deleteform{{c.id}}" />
                <button type="submit" class="btn btn-danger">삭제</button>
              </form>
              {% else %}
              {% endif %}
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <br>
    <br> {% endfor %}
    <script>
      var tempList = new Array();

      function addAca(selected) {
        tempList.push(selected.value);
        selected.parentNode.parentNode.children[4].children[0].value = tempList;
        console.log(selected.parentNode.parentNode.children[4].children[0].value)
      }


      function emptyTempList() {
        tempList.splice(0, tempList.length);
      }

      $(document).on('click', '.addrow', function() {
        id = $(this).attr('id')
        console.log(id)
        $(this).parent().find('.table-body').append(
          '<tr><td data-name="time"><input onchange="emptyTempList();" type="text" name="time[]" placeholder="Time" class="form-control" form="scheduleform' + id +
          '"/></td><td><input type="text" name="addr[]" placeholder="Address" class="form-control" form="scheduleform' + id +
          '"/></td><td data-name="name" class="inputTd"><input type="text" name="name[]" data-role="tagsinput" class="form-control" form="scheduleform' + id + '" value="{% for name in s.sname %}{{name}}{% include '
          comma.html ' %}{% endfor %}" /></td><td data-name="addstu"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal"></button></td><td data-name="academy" class="inputAcaU" style="display:none"><input name="academy[]" data-role="tagsinput" class="form-control" form="scheduleform' +
          id + '" value="{% for aid in s.alist %}{{aid}}{% include '
          comma.html ' %}{% endfor %}" /></td>                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform' + id +
          '" value="{% for sid in s.slist %}{{sid}}{% include '
          comma.html ' %}{% endfor %}" /></td><td data-name="load"><select name="load[]" form="scheduleform' + id +
          '"><option value="">등하원</option><option value="1">등원</option><option value="0">하원</option></select></td><td data-name="move"><a href="javascript:void(0)" class="glyphicon glyphicon-chevron-up up"></a><a href="javascript:void(0)" class="glyphicon glyphicon-chevron-down down"></a></td><td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td></tr>'
        )
      });

      $('.table-schedule').on('click', '.up,.down', function() {
        var row = $(this).parent().parent();
        if ($(this).is(".up")) {
          row.each(function() {
            var previndex = $(this).prev().index();
            if (previndex >= 0) {
              var rowindex = $(this).index();
              $(this).attr("id", previndex);
              $(this).prev().attr("id", rowindex);
              $(this).insertBefore($(this).prev());
            }
          });
        } else {
          $(row.get().reverse()).each(function() {
            var nextindex = $(this).next().index();
            if (nextindex >= 0) {
              var rowindex = $(this).index();
              $(this).attr("id", nextindex);
              $(this).next().attr("id", rowindex);
              $(this).insertAfter($(this).next());
            }
          });
        }
      });

      $(".table-schedule").on('click', '.row-remove', function(event) {
        $(this).parent().parent().remove();
      });

      $('#areaSelected').on('change', function() {
        // updateflag = 1 -> select area;
        $.ajax({
          type: 'POST',
          url: 'updateSchedule',
          data: {
            area: this.value,
            updateflag: 1,
          },
          success: function(data) {
            console.log(data)
            tempTag = "<option vlaue='default' selected>지점선택</option>"
            for (i = 0; i < data.length; i++) {
              tempTag = tempTag + "<option value=" + data[i]['pk'] + ">" + data[i]['fields']['bname'] + "</option>"
            }
            document.getElementById('branch').innerHTML = tempTag
          }
        });
      })

      $('#branch').on('change', function() {
        // updateflag = 1 -> select area;
        $.ajax({
          type: 'POST',
          url: 'acaUpdateSchedule',
          data: {
            branch: this.value,
            acaSelected: 1,
          },
          success: function(data) {
            console.log(data)
            tempTag = ""
            for (i = 0; i < data.length; i++) {
              tempTag = tempTag + "<option value=" + data[i]['pk'] + ">" + data[i]['fields']['name'] + "</option>"
            }
            document.getElementById('academy_branch').innerHTML = tempTag
          }
        });
      })

      var thisObject;
      var thisObjectForAca;

      $(document).on('click', '.addstudent', function() {
        //thisObject -> studentName, thisObjectForAca -> AcademyID
        thisObject = $(this).parent().prevAll('.inputTd').children();
        thisObjectForAca = $(this).parent().nextAll('.inputAcaU').children();
        thisObjectForSid = $(this).parent().nextAll('.inputSid').children();
        console.log(thisObjectForAca);
        $('#addstu').modal('show');
      })

      $(document).on('click', '.studenttoinput', function() {
        selectedAca = $('#academyselect').val()
        selectedStu = $('#studentList option:selected').text()
        selectedSid = $('#studentList option:selected').val()

        if (thisObject[0].nodeName == 'DIV') {
          temp = thisObject[1].value
          tempAca = thisObjectForAca[1].value
          tempSid = thisObjectForSid[1].value


          if (temp != '') {
            console.log('1')
            temp += ',' + selectedStu
            tempAca += ',' + selectedAca
            tempSid += ',' + selectedSid

            $(thisObject[1]).tagsinput('add')
            $(thisObjectForAca[1]).tagsinput('add')
            $(thisObjectForSid[1]).tagsinput('add')

          } else {
            console.log('2')
            temp = selectedStu
            tempAca = selectedAca
            tempSid = selectedSid
            $(thisObject[1]).tagsinput('add')
            $(thisObjectForAca[1]).tagsinput('add')
            $(thisObjectForSid[1]).tagsinput('add')
          }

          $(thisObject[1]).tagsinput('add', temp)
          $(thisObjectForAca[1]).tagsinput('add', tempAca)
          $(thisObjectForSid[1]).tagsinput('add', tempSid)

        } else if (thisObject[0].nodeName == 'INPUT') {
          temp = thisObject[0].value

          if (temp != '') {
            temp += ',' + selectedStu
            tempAca += ',' + selectedAca
            tempSid += ',' + selectedSid
          } else {
            console.log('2')
            temp = selectedStu
            tempAca = selectedAca
            tempSid = selectedSid
            $(thisObject[0]).tagsinput('add')
            $(thisObjectForAca[0]).tagsinput('add')
            $(thisObjectForSid[0]).tagsinput('add')
          }
          $(thisObject[0]).tagsinput('add', temp)
          $(thisObjectForAca[0]).tagsinput('add', tempAca)
          $(thisObjectForSid[0]).tagsinput('add', tempSid)
        }
      })

      $('#academyselect').on('change', function() {
        $.ajax({
          type: 'POST',
          url: 'studentLoad',
          data: {
            aid: this.value,
          },
          success: function(data) {
            console.log(data)
            tempTag = ""
            for (i = 0; i < data.length; i++) {
              tempTag = tempTag + "<option value=" + data[i]['pk'] + ">" + data[i]['fields']['sname'] + "</option>"
            }
            document.getElementById('studentList').innerHTML = tempTag
          }
        });
      })

      $('#openBtn').click(function() {
        $('#myModal').on('show', function() {

        });
        $('#myModal').modal({
          show: true
        })
      });

      function validateSearchForm() {
        var num = /^\d+$/;

        if (document.forms["searchform"]["area"].selectedIndex < 1) {
          alert("지역, 지점을 선택해 주세요.")
          return false;
        } else if (document.forms["searchform"]["time"].value != '') {
          if (num.test(document.forms["searchform"]["time"].value) == false) {
            alert("시간은 숫자만 입력해 주세요.(예:1500)")
            return false;
          }
        }
      }

      function validateTableForm(e) {
        console.log(e)
        tableLength = document.forms[e]['time[]'].length
        tempAddrS = document.forms[e]['addr[]'][0].value
        tempAddrE = document.forms[e]['addr[]'][tableLength - 1].value
        var timepattern = /([01]\d|2[0-3]):([0-5]\d)/;

        if (tempAddrS != "" || tempAddrE != "") {
          alert("시작,끝 주소는 반드시 비워주세요.")
          return false;
        }
        tempTime = document.forms[e]['time[]']
        for (i = 0; i < tableLength; i++) {
          if (timepattern.test(tempTime[i].value) == false) {
            alert(i + 1 + "번째 로우의 숫자를 정확히 입력해 주세요.")
            return false;
          }
        }

        tempName = document.forms[e]['name[]']
        if (tempName[0].value != "" || tempName[tableLength - 1].value != "") {
          alert("시작,끝 이름은 반드시 비워주세요.")
          return false;
        }

        tempLoad = document.forms[e]['load[]']
        for (i = 1; i < tableLength - 1; i++) {
          if (tempLoad[i].value == '') {
            alert(i + 1 + "번째 등하원 여부를 선택해 주세요.")
            return false;
          }
        }

      }


      function reqInventory(iid) {
        var req = $('#' + iid + 'text').val();
        $.ajax({
          type: 'POST',
          url: 'reqInventory',
          data: {
            iid: iid,
            req: req,
          },
          success: function(data) {
            $('#' + iid + 'text').val(data);
            alert("Success");
          }
        });
      }

      $(document).on('beforeItemRemove', '.inputTd', function(event) {
        t = $(this)
        sibling_sid = $(this).siblings('.inputSid')[0].children[1]
        sibling_aca = $(this).siblings('.inputAcaU')[0].children[1]
        // Do some processing here

        var before_list = t[0].children[1].value.split(",").map(function(item) {
          return item.trim();
        });

        var delete_index = before_list.indexOf(event.item.trim())

        var before_sid_value = sibling_sid.value
        var before_aca_value = sibling_aca.value

        var delete_sid = before_sid_value.split(',').map(function(item) {
          return item.trim()
        });
        var delete_aca = before_aca_value.split(',').map(function(item) {
          return item.trim()
        });

        if (delete_index == -1) {
          delete_sid.splice(0, 1);
          delete_aca.splice(0, 1);
        } else {
          delete_sid.splice(delete_index, 1);
          delete_aca.splice(delete_index, 1);
        }

        sibling_aca.value = delete_aca.toString()
        sibling_sid.value = delete_sid.toString()

      });
      $( ".table-body" ).sortable({
         update: function( event, ui ){
           $(this).children().each(function(index) {
                $(this).find('td')
              });
            }
          });
    </script>
    {% endblock content %}
