{% load staticfiles %}
<html>
<head>
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
.thstyle3 {
  text-align: center;
  width: 22.5%;
}

.btn-small {
  padding: 0.5px 0.5px;
  margin-bottom: 1px;
}

.dropdown-toggle {
  font-size: 20;
}

.btn-print{
  padding: 1.5px 1.5px;
}
</style>
<script>
function callNumber(num){
    location.href=”tel:”+num;
}
</script>
<body>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-4">

      </div>
        <div class="col-md-4" align="center"><button type="button" class="btn btn-danger" onclick="location.href='/'">홈</button> <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=월'">월</button>  <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=화'">화</button>  <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=수'">수</button>  <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=목'">목</button>  <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=금'">금</button>  <button type="button" class="btn btn-info" onclick="location.href='getSchedule?bid={{bid}}&aid={{aid}}&day=토'">토</button></div>
      <div class="col-md-4">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">

      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-print" style="display: block; width: 100%;" onclick="window.print()">출력</button>
      </div>
      <div class="col-md-5">

      </div>
    </div>
        <br>
    <div class="row schedule">
        <div class="col-md-1"></div>

        <div class="col-md-10 col-xs-12">
            {% for c in contacts %}
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                <button type="button" class="btn btn-small btn-warning" role="button" data-toggle="collapse" href="#collapsePhone{{c.id}}" onclick="getCarPhone(this, {{c.carnum}},{{c.id}})" aria-expanded="false" aria-controls="collapseExample">{{c.carnum}}호차</button>
                <button type="button" class="btn btn-small btn-warning">{{c.day}}요일</button>
                {% for aname in c.anamelist %}
                <button type="button" class="btn btn-small btn-warning">{{aname}}</button>
                {% endfor %}
                <div class="collapse" id="collapsePhone{{c.id}}">
                </div>
              </div>
              <div class="panel-body">
		{{ c.req }}
              </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>시간</th>
                        <th>주소</th>
                        <th class="thstyle3">이름</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in c.schedule %}
                    {% if s.lflag == 1 %}
                    <tr class="alert alert-info">
                        <td>{{s.time}}</td>
                        <td>{{s.addr}}</td>
                        <td>
                          {% for f in s.tflag %}
                            {% for si in s.sinfo %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                            <div class="dropdown">
                              {% if f == 0 %}
                                  <button id="{{si.id}}{{s.id}}" class="btn btn-small btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{si.name}}</button>
                              {% endif %}
                              {% if f == 1 %}
                                  <button id="{{si.id}}{{s.id}}" class="btn btn-small btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{si.name}}</button>
                              {% endif %}
                              <ul class="dropdown-menu pull-right">
                                <li><a href="#">{% for aname in si.aname %}{{aname}}{% endfor %}</a></li>
                                <li><a href='tel:0{{si.phone1}}'>전화하기</a></li>
                                {% if f == 0 %}
                                <li><a href='javascript:todayLoad({{si.id}},{{s.id}});'>오늘안타요</a></li>
                                {% elif f == 1 %}
                                <li><a href='javascript:todayLoad({{si.id}},{{s.id}});'>오늘안타요(취소)</a></li>
                                {% endif %}
                              </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                          {% endfor %}
                        </td>
                    {% endif %}
                    {% if s.lflag == 0 %}
                    <tr class="alert alert-danger">
                        <td>{{s.time}}</td>
                        <td>{{s.addr}}</td>
                        <td>
                            {% for f in s.tflag %}
                              {% for si in s.sinfo %}
                              {% if forloop.counter == forloop.parentloop.counter %}
                              <div class="dropdown">
                                {% if f == 0 %}
                                    <button id="{{si.id}}{{s.id}}" class="btn btn-small btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{si.name}}</button>
                                {% endif %}
                                {% if f == 1 %}
                                    <button id="{{si.id}}{{s.id}}" class="btn btn-small btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{si.name}}</button>
                                {% endif %}
                                <ul class="dropdown-menu pull-right">
                                  <li><a href="#">{% for aname in si.aname %}{{aname}}{% endfor %}</a></li>
                                  <li><a href='tel:0{{si.phone1}}'>전화하기</a></li>
                                  <li><a href='javascript:todayLoad({{si.id}},{{s.id}});'>오늘안타요</a></li>
                                </ul>
                              </div>
                              {% endif %}
                              {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if s.lflag == 2 %}
                    <tr>
                        <td>{{s.time}}</td>
                        <td>출발</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% if s.lflag == 3 %}
                    <tr>
                        <td>{{s.time}}</td>
                        <td>도착</td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
          </div>
          <br><br>
          {% endfor %}
        </div>
        <div class="col-md-1"></div>
<script>
// function dropdown(t,offset,invenid,stableid,choice) {
//     var choice = choice
//     $.ajax({
//         url: "/inventory/todayLoad",
//         type: "GET",
//         data: {
//           offset: offset,
//           invenid: invenid,
//           stableid: stableid,
//         },
//         success: function(data) {
//           if (choice == 0){
//             $("ul", t.parent).html("<li><a href='#'>"+data['aname']+"</a></li><li><a href='javascript:todayLoad("+offset+","+invenid+","+stableid+");'>오늘안타요</a></li><li><a href='tel:0"+data['phone1']+"'>학생전화</a></li><li><a href='#' class='pphone'></a></li>");
//           }
//           else if (choice == 1){
//             $("ul", t.parent).html("<li><a href='#'>"+data['aname']+"</a></li><li><a href='javascript:todayLoad("+offset+","+invenid+","+stableid+");'>오늘안타요(취소)</a></li><li><a href='tel:0"+data['phone1']+"'>학생전화</a></li><li><a href='#' class='pphone'></a></li>");
//
//           }
//         }
//     });
// }

function todayLoad(sid,stableid){

    var btnid = sid+''+stableid
    console.log(btnid)
    $.ajax({
      url:"/inventory/todayLoad",
      type:"POST",
      data:{
        sid: sid,
        stableid: stableid,
      },
      success: function(data){
          if(data == 0){
              $("#"+btnid).attr('class','load btn btn-small btn-default dropdown-toggle')
          }
          else if(data == 1){
              $("#"+btnid).attr('class','load btn btn-small btn-primary dropdown-toggle')
          }
      }
    });
}

function getCarPhone(e, cid,fc){
  $.ajax({
      url: "/inventory/getCarPhone",
      type: "GET",
      data: {
        carnum: cid,
      },
      success: function(data) {
        $('#collapsePhone'+fc).html("<br><a class='btn-xs btn-info' href='tel:"+data['phonelist'][0]+"'>기사님</a>&nbsp&nbsp<a class='btn-xs btn-info' href='tel:"+data['phonelist'][0]+"'>동승자</a>");
      }
  });

}
</script>

</html>
