{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 table-responsive">
        <br>
        <br>
        <form action="updateArea" method="post" enctype='application/json' id="areaform">
        <div class="box-body">
          <table class="table table-bordered table-area">
            <thead>
              <tr>
                <th class="text-center thstyle2">id</th>
                <th class="text-center thstyle2">이름</th>
                <th class="text-center thstyle2">지역 삭제</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for a in area %}
              <tr>
                <td data-name="areaid">{{a.id}}<input type="hidden" name="areaid[]" placeholder="areaid" class="form-control" form="areaform" value="{{a.id}}" /></td>
                <td data-name="name"><input type="text" name="name[]" placeholder="Name" class="form-control" form="areaform" value="{{a.name}}" /></td>
                <td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-default pull-right addrow" onclick="emptyTempList();">Add Row</a>
        </div>
        <br>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-1">
              <input class="hidden" name="update" value="1" form="areaform" />
              <input type="submit" class="btn btn-success pull-right" value="저장">
          </div>
          <div class="col-md-1">
            <form action="updateArea" method="post" id="deleteform">
              <input class="hidden" name="update" value="0" form="deleteform" />
              <input type="submit" class="btn btn-success" value="삭제">
            </form>
          
        </div>
        </form>
        <br>
      </div>
    </div>
  </div>
<script>
  var tempList = new Array();


  function emptyTempList() {
    tempList.splice(0, tempList.length);
  }

  $(document).on('click', '.addrow', function() {
    $(this).parent().find('.table-body').append(
      '<tr><td data-name="areaid">-1<input type="hidden" name="areaid[]" placeholder="id" class="form-control" form="areaform" value="-1"></td><td data-name="name"><input type="text" name="name[]" placeholder="Name" class="form-control" form="areaform"/></td><a href="javascript:void(0)" class="glyphicon glyphicon-chevron-up up"></a><a href="javascript:void(0)" class="glyphicon glyphicon-chevron-down down"></a></td><td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td></tr>'
    )
  });

  $('.table-area').on('click', '.up,.down', function() {
    var row = $(this).parent().parent();
    if ($(this).is(".up")) {
      row.each(function() {
        var previndex = $(this).prev().index();
        if (previndex >= 0) {
          var rowindex = $(this).index();
          $(this).attr("id", previndex);
          $(this).prev().attr("id", rowindex);
          $(this).insertBefore($(this).prev());
        }
      });
    } else {
      $(row.get().reverse()).each(function() {
        var nextindex = $(this).next().index();
        if (nextindex >= 0) {
          var rowindex = $(this).index();
          $(this).attr("id", nextindex);
          $(this).next().attr("id", rowindex);
          $(this).insertAfter($(this).next());
        }
      });
    }
  });

  $(".table-area").on('click', '.row-remove', function(event) {
    $(this).parent().parent().remove();
  });

</script>

{% endblock content %}
