{% extends 'admin/base.html' %} {% block content %}
<div class="row">
  <!-- Button trigger modal -->
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
    <label>AREA:</label>
    <select name="area" class="form-control" form="searchform" id="areaSelected">
        <option value="" selected>지역선택</option>
          {% for a in area %}
          {% if a.id == areaid %}
          <option value="{{a.id}}" selected>{{a.name}}</option>
          {% else %}
          <option value="{{a.id}}">{{a.name}}</option>
          {% endif %}
          {% endfor %}
      </select>
  </div>
  <div class="col-md-2">
    <label>BRANCH:</label>
    <select name="bid" class="form-control" form="searchform" placeholder='지점' id="branch">
      {% for b in branch %}
        {% if b.id == bid %}
        <option value="{{b.id}}" selected>{{b.bname}}</option>
        {% else %}
        <option value="{{b.id}}">{{b.bname}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="col-md-2">
    <label>DAY:</label>
    <select name="day" class="form-control" form="searchform">
      {% if day == '월' %}
      <option value="월" selected>월</option>
      <option value="화">화</option>
      <option value="수">수</option>
      <option value="목">목</option>
      <option value="금">금</option>
      <option value="토">토</option>
      {% elif day == '화' %}
      <option value="월">월</option>
      <option value="화" selected>화</option>
      <option value="수">수</option>
      <option value="목">목</option>
      <option value="금">금</option>
      <option value="토">토</option>
      {% elif day == '수' %}
      <option value="월">월</option>
      <option value="화">화</option>
      <option value="수" selected>수</option>
      <option value="목">목</option>
      <option value="금">금</option>
      <option value="토">토</option>
      {% elif day == '목' %}
      <option value="월">월</option>
      <option value="화">화</option>
      <option value="수">수</option>
      <option value="목" selected>목</option>
      <option value="금">금</option>
      <option value="토">토</option>
      {% elif day == '금' %}
      <option value="월">월</option>
      <option value="화">화</option>
      <option value="수">수</option>
      <option value="목">목</option>
      <option value="금" selected>금</option>
      <option value="토">토</option>
      {% elif day == '토' %}
      <option value="월">월</option>
      <option value="화">화</option>
      <option value="수">수</option>
      <option value="목">목</option>
      <option value="금">금</option>
      <option value="토" selected>토</option>
      {% else %}
      <option value="월" selected>월</option>
      <option value="화">화</option>
      <option value="수">수</option>
      <option value="목">목</option>
      <option value="금">금</option>
      <option value="토">토</option>
      {% endif %}
    </select>
  </div>
  <!--<div class="col-md-3">
      <label>ACADEMY:</label>
        <select name="aid" class="form-control" form="searchform">
                      <option value="" selected>학원</option>
                      {% for a in academy %}
                      <option  value="{{a.id}}">{{a.name}}</option>
                      {% endfor %}
        </select>
    </div>-->
  <div class="col-md-2">
    <label>TIME:</label>
    <input type="text" name='searchTime' form="searchform" class="form-control" id="timeSerach" value="{{searchTime}}" />
  </div>
  <div class="col-md-2">
    <label>SEARCH:</label>
    <form action="updateSchedule" method="post" enctype='application/json' onsubmit="return validateSearchForm()" id="searchform">
      <input type="hidden" name='updateflag' class="form-control" value="2" form="searchform" />
      <input type="hidden" name='searchinven' class="form-control" value="1" form="searchform" />
      <input type="submit" id="carlistSearch" class="btn btn-success" value="검색">
    </form>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" align="center">
    <!--  <input type="hidden" name='bid' class="form-control" value="{{bid}}" form="searchform2" />
      <input type="hidden" name='day' class="form-control" value="{{day}}" form="searchform2" />
      <input type="hidden" name='time' class="form-control" value="{{time}}" form="searchform2" /> -->
    <input type="hidden" name='updateflag' class="form-control" value="2" form="searchform2" />
    <input type="hidden" name='searchinven' class="form-control" value="2" form="searchform2" />
    <div class="row">
      {% for car in carlist %}
      <form action="updateSchedule" method="get" class="searchedByCar">
        <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
        <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
        <input type="hidden" name='day' class="form-control" value="{{day}}" />
        <input type="hidden" id='forInvenAddCheck' name='searchTime' class="form-control" value="{{searchTime}}" />
        <input type="hidden" name='updateflag' class="form-control" value="2" />
        <input type="hidden" name='searchinven' class="form-control" value="2" /> {% if car.carname == carnum %}
        <button type="submit" class="btn btn-info" name="car" value="{{car.carname}}">{{car.carname}}</button> {% else %}
        <button type="submit" class="btn btn-primary" name="car" value="{{car.carname}}">{{car.carname}}</button> {% endif %}
      </form>
      {% endfor %}
      <a href="#" class="btn btn-warning" id="openBtn">인벤추가</a>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>인벤토리추가</h3>
      </div>
      <div class="modal-body">
        <iframe src="putSchedule?bid={{bid}}&day={{day}}&week={{week}}&carnum={{carnum}}" width="90%" height="550"></iframe>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">OK</button>
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div align="center">
      <label>WEEK:</label>
      <form action="updateSchedule" method="get" class="searchedByCar">
        <input type="hidden" name='week' class="form-control" value="0" />
        <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
        <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
        <input type="hidden" name='day' class="form-control" value="{{day}}" />
        <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
        <input type="hidden" name='car' class="form-control" value="{{carnum}}" />
        <input type="hidden" name='updateflag' class="form-control" value="2" />
        <input type="hidden" name='searchinven' class="form-control" value="2" /> {% if week == 0 %}
        <button type="submit" class="btn btn-info">금주</button> {% else %}
        <button type="submit" class="btn btn-primary">금주</button> {% endif %}
      </form>
      <form action="updateSchedule" method="get" class="searchedByCar">
        <input type="hidden" name='week' class="form-control" value="1" />
        <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
        <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
        <input type="hidden" name='day' class="form-control" value="{{day}}" />
        <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
        <input type="hidden" name='car' class="form-control" value="{{carnum}}" />
        <input type="hidden" name='updateflag' class="form-control" value="2" />
        <input type="hidden" name='searchinven' class="form-control" value="2" /> {% if week == 1 %}
        <button type="submit" class="btn btn-info">1주 후</button> {% else %}
        <button type="submit" class="btn btn-primary">1주 후</button> {% endif %}
      </form>
      <form action="updateSchedule" method="get" class="searchedByCar">
        <input type="hidden" name='week' class="form-control" value="2" />
        <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
        <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
        <input type="hidden" name='day' class="form-control" value="{{day}}" />
        <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
        <input type="hidden" name='car' class="form-control" value="{{carnum}}" />
        <input type="hidden" name='updateflag' class="form-control" value="2" />
        <input type="hidden" name='searchinven' class="form-control" value="2" /> {% if week == 2 %}
        <button type="submit" class="btn btn-info">2주 후</button> {% else %}
        <button type="submit" class="btn btn-primary">2주 후</button> {% endif %}
      </form>
      <form action="updateSchedule" method="get" class="searchedByCar">
        <input type="hidden" name='week' class="form-control" value="3" />
        <input type="hidden" name='areaid' class="form-control" value="{{areaid}}" />
        <input type="hidden" name='bid' class="form-control" value="{{bid}}" />
        <input type="hidden" name='day' class="form-control" value="{{day}}" />
        <input type="hidden" name='searchTime' class="form-control" value="{{searchTime}}" />
        <input type="hidden" name='car' class="form-control" value="{{carnum}}" />
        <input type="hidden" name='updateflag' class="form-control" value="2" />
        <input type="hidden" name='searchinven' class="form-control" value="2" /> {% if week == 3 %}
        <button type="submit" class="btn btn-info">3주 후</button> {% else %}
        <button type="submit" class="btn btn-primary">3주 후</button> {% endif %}
      </form>
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>
<br>
<br> {% for c in contacts %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" style="background-color:rgb(201, 214, 222); height: auto; width: 100%">
    <div class="col-md-12" style="margin:10px">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 text-center" style="background-color:white; border-radius:10px;">
          <h3 style="font-family: 'Lucida Console'; font-weight: bold; color:rgb(77,77,77)">{{c.stime}} - {{c.etime}}</h3>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          동승자분과 공유 메모
          <textarea class="form-control" style="" rows="4" id="{{c.id}}text">{{c.req}}</textarea>
        </div>
        <div class="col-md-4">
          내 메모
          <textarea class="form-control" style="" rows="4" id="{{c.id}}memo">{% if c.memo %} {{c.memo}} {% endif %} </textarea>
        </div>
        <div class="col-md-1">
          <br><br><br><br> {% if c.get_cname == 'editedinven' %}
          <div class="row"><button type="button" class="btn btn-primary" onclick="reqInventory({{c.id}},1);">저장</button></div>
          {% else %}
          <div class="row"><button type="button" class="btn btn-primary" onclick="reqInventory({{c.id}},0);">저장</button></div>
          {% endif %}
        </div>
        <div class="col-md-3">
          <ul class="list-group" style="margin:0px">
            <li class="list-group-item">
              학원: {% for a in c.anamelist %} {{a}} | {%endfor%}
            </li>
            <li class="list-group-item">학생 수: {{c.snum}}</li>
            <li class="list-group-item">요일: {{c.day}} ( {{c.stime}} - {{c.etime}} )</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row input-bus">
        <br>
        <div class="col-md-1">
          <i style="font-size:50px;" class="fa fa-bus"></i><span></span>
        </div>
        <div class="col-md-2">
          <select id = 'busAcademy' class="form-control selectpicker" name="alist[]" data-live-search="true" form="scheduleform{{c.id}}" multiple>
            <option value="">학원선택</option>
              {% for ca in c.anamelist %}
                {% for a in academy%}
                    {% if a.name.strip == ca.strip %}
                        <option value = "{{a.id}}" selected>{{a.name}}</option>
                    {% elif forloop.parentloop.last %}
                        <option value = "{{a.id}}">{{a.name}}</option>
                    {% endif %}
                {% endfor %}
              {% endfor %}
          </select>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" onclick="busAcademy({{c.id}});">저장</button>
        </div>
        <br><br><br>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-schedule" style="margin:4px">
            <thead>
              <tr>
                <th class="text-center thstyle4">시간</th>
                <th class="text-center thstyle2">주소</th>
                <th class="text-center thstyle3">Req</th>
                <th class="text-center thstyle2">이름</th>
                <th class="text-center thstyle3">추가</th>
                <th class="text-center thstyle3">등하원</th>
                <th class="text-center thstyle3">삭제</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% if c.scheduletables %}
              <select class="moveCarList">
                {% for car in carlist %}
                  {% if car.carname == c.carnum %}
                    <option value="{{c.id}}/{{car.carname}}" selected>{{car.carname}}호차</option>
                  {% else %}
                    <option value="{{c.id}}/{{car.carname}}">{{car.carname}}호차</option>
                  {% endif %}
                {% endfor %}
              </select> &nbsp&nbsp
              <button type="button" class="btn-sm btn-primary" value="" id="move{{c.id}}" onclick="moveCarInven({{c.id}});">차량만 바꾸기</button>
              <br><br> {% for s in c.scheduletables.all %}
              <tr>
                <td data-name="time" class="tdstyle4"><input type="text" name="time[]" placeholder="Time" class="form-control inputstyle" form="scheduleform{{c.id}}" value="{{s.time}}" /></td>
                <td data-name="addr" class="tdstyle2"><input type="text" name="addr[]" placeholder="Address" class="form-control inputstyle" form="scheduleform{{c.id}}" value="{{s.addr}}" /></td>
                <td data-name="req" class="tdstyle3">
                  <select name="req[]" form="scheduleform{{c.id}}">
			                 <option value="">없음</option>
			                 <option value="데려와주세요" {% if s.req == "데려와주세요" %} selected {% endif %} >데려와주세요</option>
		              </select>
                </td>
                <td data-name="name" class="inputTd tdstyle2">
                  <input type="text" name="name[]" data-role="tagsinput" class="form-control tInput" form="scheduleform{{c.id}}" value="{% for name in s.sname %}{{name}}{% include 'comma.html' %}{% endfor %}" />
                </td>
                <td data-name="addstu" class="text-center tdstyle3"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal"></button></td>
                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" class="form-control" form="scheduleform{{c.id}}" value="{% for sid in s.slist %}{{sid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="academy" class="inputAcaU" style="display:none;"><input name="academy[]" type="text" class="form-control" form="scheduleform{{c.id}}" value="{% for aid in s.alist %}{{aid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="load" class="text-center tdstyle3">
                  {% if s.lflag == 1 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">등하원</option>
                    <option value="1" selected>등원</option>
                    <option value="0">하원</option>
                  </select> {% endif %} {% if s.lflag == 0 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">등하원</option>
                    <option value="1">등원</option>
                    <option value="0" selected>하원</option>
                  </select> {% endif %} {% if s.lflag == 2 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">출발</option>
                  </select> {% endif %} {% if s.lflag == 3 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">도착</option>
                  </select> {% endif %}
                </td>
                <td data-name="del" class="text-center tdstyle3"><button name="del" class="btn btn-sm btn-danger glyphicon glyphicon-remove row-remove"></button></td>
              </tr>
              {% endfor %} {% elif c.editedscheduletables %}
              <select class="moveCarList">
                {% for car in carlist %}
                  {% if car.carname == carnum %}
                    <option value="{{c.id}}/{{car.carname}}" selected>{{car.carname}}호차</option>
                  {% else %}
                    <option value="{{c.id}}/{{car.carname}}">{{car.carname}}호차</option>
                  {% endif %}
                {% endfor %}
              </select> &nbsp&nbsp
              <button type="button" class="btn-sm btn-primary" value="" id="move{{c.id}}" onclick="moveCarEditedInven({{c.id}});">차량만 바꾸기</button>
              <br><br> {% for es in c.editedscheduletables.all %}
              <tr>
                <td data-name="time" class="tdstyle4"><input onchange="emptyTempList();" type="text" name="time[]" placeholder="Time" class="form-control" form="scheduleform{{c.id}}" value="{{es.time}}" /></td>
                <td data-name="addr" class="tdstyle2"><input type="text" name="addr[]" placeholder="Address" class="form-control" form="scheduleform{{c.id}}" value="{{es.addr}}" /></td>
                <td data-name="req" class="tdstyle3">
                  <select name="req[]" form="scheduleform{{c.id}}">
			<option value="">없음</option>
			<option value="데려와주세요" {% if s.req == "데려와주세요" %} selected {% endif %} >데려와주세요</option>
		</select>
                </td>
                <td data-name="name" class="inputTd tdstyle2">
                  <input type="text" name="name[]" data-role="tagsinput" class="form-control tInput" form="scheduleform{{c.id}}" value="{% for name in es.sname %}{{name}}{% include 'comma.html' %}{% endfor %}" />
                </td>
                <td data-name="addstu" class="text-center tdstyle3"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal" ></button></td>
                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" class="form-control" form="scheduleform{{c.id}}" value="{% for sid in es.slist %}{{sid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="academy" class="inputAcaU" style="display:none;"><input name="academy[]" type="text" class="form-control" form="scheduleform{{c.id}}" value="{% for aid in es.alist %}{{aid}}{% include 'comma.html' %}{% endfor %}" /></td>
                <td data-name="load" class="text-center tdstyle3">
                  {% if es.lflag == 1 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">등하원</option>
                    <option value="1" selected>등원</option>
                    <option value="0">하원</option>
                  </select> {% endif %} {% if es.lflag == 0 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">등하원</option>
                    <option value="1">등원</option>
                    <option value="0" selected>하원</option>
                  </select> {% endif %} {% if es.lflag == 2 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">출발</option>
                  </select> {% endif %} {% if es.lflag == 3 %}
                  <select name="load[]" form="scheduleform{{c.id}}">
                    <option value="">도착</option>
                  </select> {% endif %}
                </td>
                <td data-name="del" class="text-center tdstyle3"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td>
              </tr>
              {% endfor %} {% endif %}
            </tbody>
          </table>
          </div>
          <div class="modal fade" id="addstu" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  <select id="academyselect" class="form-control selectpicker" data-live-search="ture"><option value="">학원선택</option>{% for a in academy %}<option value = "{{a.id}}">{{a.name}}</option>{% endfor %}</select>
                  <br>
                  <select id="studentList" class="selectpicker modal-select" data-live-search="ture" multiple></select>
                  <input type="hidden" id="rowid" value="" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary studenttoinput">학생추가</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /div //-->
          <!-- br //-->
          <!-- div class="row pull-right" //-->
          <form class="savedelete submitForm" accept-charset="" action="updateSchedule" method="post" enctype='application/json' onsubmit="return validateTableForm(this.id)" id="scheduleform{{c.id}}">
            <input class="hidden" name="week" value="{{week}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name="iid" value="{{c.id}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name="areaid" value="{{areaid}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name="bid" value="{{bid}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name='searchTime' value="{{searchTime}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name='day' value="{{day}}" form="scheduleform{{c.id}}" />
            <input class="hidden" name="update" value="1" form="scheduleform{{c.id}}" />
            <input id="carnum{{c.id}}" type="hidden" name="carnum" value="{{c.carnum}}" form="scheduleform{{c.id}}">
            <button type="submit" class="btn btn-success pull-right">저장</button>
          </form>
          {% if c.get_cname == 'editedinven' or week == 0 %}
          <form class="savedelete submitForm" action="updateSchedule" method="post" id="deleteform{{c.id}}" onSubmit="return confirm('정말 삭제 하시겠어요?');">
            <input class="hidden" name="week" value="{{week}}" form="deleteform{{c.id}}" />
            <input class="hidden" name="iid" value="{{c.id}}" form="deleteform{{c.id}}" />
            <input class="hidden" name="areaid" value="{{areaid}}" form="deleteform{{c.id}}" />
            <input class="hidden" name="bid" value="{{bid}}" form="deleteform{{c.id}}" />
            <input class="hidden" name='searchTime' value="{{searchTime}}" form="deleteform{{c.id}}" />
            <input class="hidden" name='day' value="{{day}}" form="deleteform{{c.id}}" />
            <input class="hidden" name="update" value="0" form="deleteform{{c.id}}" />
            <input id="carnum{{c.id}}" class="hidden" name='carnum' value="{{c.carnum}}" form="deleteform{{c.id}}" />
            <button type="submit" class="btn btn-danger">삭제</button>
          </form>
          {% else %} {% endif %}
          <a id="{{c.id}}" class="btn btn-default pull-right addrow">Add Row</a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br> {% endfor %}
  <script>
    $(document).on('click', '.addrow', function() {
      id = $(this).attr('id')
      console.log(id)
      $(this).parent().find('.table-body').append(
        '<tr><td data-name="time"><input type="text" name="time[]" placeholder="Time" class="form-control" form="scheduleform' + id +
        '"/></td><td><input type="text" name="addr[]" placeholder="Address" class="form-control" form="scheduleform' + id +
        '"/></td><td data-name="req" class="tdstyle3"><select name="req[]" form="scheduleform' + id +
        '"><option value="">없음</option><option value="데려와주세요" {% if s.req == "데려와주세요" %} selected {% endif %} >데려와주세요</option></select></td><td data-name="name" class="inputTd"><input type="text" name="name[]" data-role="tagsinput" class="form-control" form="scheduleform' +
        id + '" value="{% for name in s.sname %}{{name}}{% include '
        comma.html ' %}{% endfor %}" /></td><td data-name="addstu"><button class="btn btn-primary glyphicon glyphicon-plus addstudent" data-toggle="modal"></button></td><td data-name="academy" class="inputAcaU" style="display:none"><input name="academy[]" data-role="tagsinput" class="form-control" form="scheduleform' +
        id + '" value="{% for aid in s.alist %}{{aid}}{% include '
        comma.html ' %}{% endfor %}" /></td>                <td data-name="sid" class="inputSid" style="display:none;"><input name="sid[]" type="text" data-role="tagsinput" class="form-control" form="scheduleform' + id +
        '" value="{% for sid in s.slist %}{{sid}}{% include '
        comma.html ' %}{% endfor %}" /></td><td data-name="load"><select name="load[]" form="scheduleform' + id +
        '"><option value="">등하원</option><option value="1">등원</option><option value="0">하원</option></select></td><td data-name="del"><button name="del" class="btn btn-danger glyphicon glyphicon-remove row-remove"></button></td></tr>'
      )
    });

    function reqInventory(iid, flag) {

      var req = $('#' + iid + 'text').val();
      var memo = $('#' + iid + 'memo').val();
      $.ajax({
        type: 'POST',
        url: 'reqInventory',
        data: {
          iid: iid,
          req: req,
          memo: memo,
          flag: flag,
        },
        success: function(data) {
          $('#' + iid + 'text').val(data);
          alert("Success");
        }
      });
    }

    $(".moveCarList").change(function() {
      console.log(this.value)
      contactId = this.value.split('/')[0]
      carnum = this.value.split('/')[1]
      $('#carnum' + contactId).val(carnum);
      $('#move' + contactId).val(carnum);
    });

    function moveCarInven(contactId) {
      carname = $('#move' + contactId).val()
      iid = contactId
      $.ajax({
        type: 'POST',
        url: 'moveCarInven',
        data: {
          iid: iid,
          carname: carname
        },
        success: function(data) {
          alert(data + '차량으로 이동 완료')
          window.location.replace(window.location.href);
        }
      });
    }

    function moveCarEditedInven(contactId) {
      carname = $('#move' + contactId).val()
      iid = contactId
      $.ajax({
        type: 'POST',
        url: 'moveCarEditedInven',
        data: {
          iid: iid,
          carname: carname
        },
        success: function(data) {
          alert(data + '차량으로 이동 완료')
          window.location.replace(window.location.href);
        }
      });
    }

    function validateSearchForm() {
      var num = /^\d+$/;

      //if (document.forms["searchform"]["area"].selectedIndex < 1) {
        //alert("지역, 지점을 선택해 주세요.")
        //return false;
      //} else 
      if (document.forms["searchform"]["time"].value != '') {
        if (num.test(document.forms["searchform"]["time"].value) == false) {
          alert("시간은 숫자만 입력해 주세요.(예:1500)")
          return false;
        }
      }
    }

    function validateTableForm(e) {
      console.log(e)
      tableLength = document.forms[e]['time[]'].length
      tempAddrS = document.forms[e]['addr[]'][0].value
      tempAddrE = document.forms[e]['addr[]'][tableLength - 1].value
      var timepattern = /([01]\d|2[0-3]):([0-5]\d)/;

      if (tempAddrS != "" || tempAddrE != "") {
        alert("시작,끝 주소는 반드시 비워주세요.")
        return false;
      }
      tempTime = document.forms[e]['time[]']
      for (i = 0; i < tableLength; i++) {
        if (timepattern.test(tempTime[i].value) == false) {
          alert(i + 1 + "번째 로우의 숫자를 정확히 입력해 주세요.")
          return false;
        }
      }

      tempName = document.forms[e]['name[]']
      if (tempName[0].value != "" || tempName[tableLength - 1].value != "") {
        alert("시작,끝 이름은 반드시 비워주세요.")
        return false;
      }

      tempLoad = document.forms[e]['load[]']
      for (i = 1; i < tableLength - 1; i++) {
        if (tempLoad[i].value == '') {
          alert(i + 1 + "번째 등하원 여부를 선택해 주세요.")
          return false;
        }
      }

    }

    $('#openBtn').click(function() {

      if ($('#forInvenAddCheck').val() == undefined) {
        alert("검색 후 사용하세요.")
        return false;
      }
      $('#myModal').on('show', function() {

      });
      $('#myModal').modal({
        show: true
      })
    });

    function busAcademy(iid){
      var alist = $('#busAcademy').val()
      $.ajax({
        type: 'POST',
        url: 'busAcademy',
        data: {
          alist: alist,
          iid: iid,
        },
        success: function(data) {
          if(data == 0){
            alert('success')
          }
        }
      });
    }

    $('body').on('hidden.bs.modal', '.modal', function () {
      var myBackup = $('#addstu').clone();
      $('#addstu').modal('hide').remove();
      var myClone = myBackup.clone();
      $('body').append(myClone);
    });
  </script>
  {% endblock content %}
