<html>
<head>
<meta charset="UTF-8" />
<title>pushchecker</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var chart = {
      type: 'spline'
   };
   var title = {
      text: 'daily push message chart'
   };
   var subtitle = {
      text: 'www.edticket.com'
   };
   var xAxis = {
      categories: ['1', '2', '3', '4', '5', '6',
         '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
            '17', '18', '19', '21', '22', '23', '24', '25', '26',
               '27', '28', '29', '30'  ]
   };
   var yAxis = {
      title: {
         text: 'number of push'
      },
      labels: {
         formatter: function () {
            return this.value ;
         }
      },

   };
   var tooltip = {
      crosshairs: true,
      shared: true
   };
   var plotOptions = {
      spline: {
         marker: {
            radius: 4,
            // lineColor: '#666666',
            lineWidth: 2
         }
      }
   };
   var series= [{
         name: '성공',
         marker: {
            symbol: 'rectangle'
         },
         data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8,1,1,1,1,1,1,1,1,]
      }, {
         name: '실패',
         marker: {
            symbol: 'rectangle'
         },
         data: [3.0, 4.9, 5.5, 1.5, 7.2, 2.5, 5.2, 1.2, 2.7, 3.5, 4.9, 5.2, 7.0, 8.6, 2.2, 3.3, 4.6, 6.8,1,1,1,1,1,1,1,1, 100]
      }
   ];

   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);

});
</script>
</body>
</html>
