{% load staticfiles %}
<HTML lang="ko-kr">
<HEAD>
  <META charset="utf-8" />
  <META http-equiv="X-UA-Compatiable" content="IE=edge" />
  <TITLE>현장팀용 | DashBoard</TITLE>
  <META name="robots" content="NONE,NOARCHIVE" />
  <META content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <!-- link rel="stylesheet" href="/static/css/jquery.timepicker.css" //-->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/monitor.css" rel="stylesheet">
  <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <script src="/static/js/jquery-3.1.0.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=df6af02ef0921fda82ecbfd508cfcfdf&libraries=services"></script //-->
  <!-- script type="text/javascript" src="/static/js/jquery.timepicker.min.js"></script //-->
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- script src="/static/js/plugins/proj4.js"></script //-->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script type="text/javascript" src="{% static 'js/plugins/pdfmake.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/vfs_fonts.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dmSchedule/jquery.skeduler.js' %}"></script>
  <link href="{% static 'css/dmSchedule/jquery.skeduler.css' %}" rel="stylesheet">
  <style>
    .entry:not(:first-of-type) {
      margin-top: 10px;
    }

    .glyphicon {
      font-size: 12px;
    }

    .input-div {
      padding: 0;
    }
    
  </style>

  <style>
    #map {
      position: fixed;
      top: 0px;
      height: 300px;
      width: 100%;
    }

    #top_bar {
      width: 100%;
      float: top;
    }

    #left_bar {
      top: 0px;
      left: 0px;
      width: 300px;
      height: 100%;
      float: left;
      overflow: scroll;
    }

    #content {
      top: 0px;
      left: 300px;
      overflow: auto;
    }

    #search_result {}

    button.phonenumber {
      margin: 5px 0;
    }
  </style>


  <style>
    .thstyle3 {
      text-align: center;
      width: 22.5%;
    }

    .remove-td {
      text-align: center;
      vertical-align: middle !important;
      width: 7%;
    }

    .etc {
      background-color: #E1E5E8;
    }

    .panel-danger>.panel-heading {
      background-color: #D98880 !important
    }
  </style>
</HEAD>

<BODY>
  <DIV class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">셔틀타요</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">지점별 스케쥴 관리<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="getSchedule">요일별</a></li>
                <li><a href="getSchedule">호차별</a></li>
                <!--<li><a href="/drivermanager/addStudentsForm">추가</a></li>-->
              </ul>
            </li>

            <li class="dorpdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">모니터<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/monitor/inventories">인벤토리</a></li>
                <li><a href="/monitor/shuttles">셔틀버스</a></li>
                <li><a href="/monitor/realtimeLocationHistory">출발버튼History</a></li>
              </ul>
            </li>
            <li class="dorpdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">동선계산<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/opti" target="_blank">V1</a></li>
                <li><a href="/opti2" target="_blank">V2</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hiddenactive"><a href="./">{{displayname}}<span class="sr-only">(current)</span></a></li>
            <!--<li><a href="../navbar-static-top/">Static top</a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </nav>

    {# The Document Body #}
    <div id="site-wrapper">
      {% block content %} if you see this, something is wrong! {% endblock content %}
    </div>

  </DIV>

  <SCRIPT>
    $(document).ready(function() {
      // bold on current position
      $(".nav").find(".active").removeClass("active");
      //var urls = $(location).attr('pathname').split('/');
      //var url = urls[urls.length - 1];
      var url = $(location).attr('pathname');
      var obj = $(".nav").find("[href='" + url + "']");
      // li -> ul(dropdown) -> li -> a
      obj.parents('li').addClass("active");
      obj.parents('li').parents('li').addClass("active");
      //obj.parent().addClass("active");
      //obj.parent().parent().parent().addClass("active");

      $(".nav").find(".hiddenactive").addClass("active");
    });

    $(".selectInstitute").on('click', function(e) {
      $.get("setSession", {
          instituteid: $(this).data("instituteid")
        },
        function(data) {
          location.reload();
        }
      );
    });
  </SCRIPT>
</BODY>

</HTML>
