{% extends 'basic.html' %}
{% block content %}
<style>
  body{
    width:1060px;
    margin:50px auto;
  }
  path {  stroke: #fff; }
  path:hover {  opacity:0.9; }
  rect:hover {  fill:blue; }
  .axis {  font: 10px sans-serif; }
  .legend tr{    border-bottom:1px solid grey; }
  .legend tr:first-child{    border-top:1px solid grey; }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .x.axis path {  display: none; }
  .legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
  }
  .legend td{
    padding:4px 5px;
    vertical-align:bottom;
  }
  .legendFreq, .legendPerc{
    align:right;
    width:50px;
  }
   .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
</style>
<input id="aid" type="hidden" value="{{aid}}"></input>
<input id="bid" type="hidden" value="{{bid}}"></input>
{% if user.is_superuser %}
<div class="row" align="center">
  {% for a in area %}
    {% if aid == a.id %}
      <a href="carSalesStatus?aid={{a.id}}" type="button" class="btn btn-primary">{{a.name}}</a>
    {% else %}
      <a href="carSalesStatus?aid={{a.id}}" type="button" class="btn btn-default">{{a.name}}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
<br>
<div class="row" align="center">
  {% for b in branch %}
    {% if bid == b.id %}
      <a href="carSalesStatus?aid={{aid}}&bid={{b.id}}" type="button" class="btn btn-info">{{b.bname}}</a>
    {% else %}
      <a href="carSalesStatus?aid={{aid}}&bid={{b.id}}" type="button" class="btn btn-default">{{b.bname}}</a>
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label>Car :</label>
      <select class="form-control select-car">
        <option selected>선택</option>
        {% for c in car %}
        <option value={{c.id}}>{{c.carname}}호차</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-7">
    <br><br>
    <canvas id="salesChart" width="200" height="100"></canvas>
  </div>
  <div class="col-md-5" align="center">
    <div class="row">
      <canvas id="salesPie" width="800" height="450"></canvas>
    </div>
    <br>
    <br>
    <div class="row">
      <svg id="fillgauge1" width="37%"></svg>
    </div>
  </div>
</div>
<script>
var temp_evt;
var salesChart;
var salesPie;

  $(".select-car").change(function(e){
    $('#fillgauge1').hide()
    if(salesPie){salesPie.destroy();}
    var car = this.value
    $.ajax({
      url: "carSalesStatus",
      type: "POST",
      data: {
          flag : 'car',
          car : car
      },
      success: function(data){
          if(salesChart){salesChart.destroy();}
          var sales = JSON.parse(data);
          setBarChart(sales);
      }
    })
  });
 function setBarChart(salesData){
     var ctx = document.getElementById("salesChart");
     var label = [];
     var sales = [];
     for(i = 0 ; i < salesData.length; i++){
         label.push(salesData[i]['month'])
         sales.push(salesData[i]['sales']-(salesData[i]['p_salary']+salesData[i]['d_salary']+salesData[i]['etc']))
     }
     salesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels : label,
            label: "Sales (won)",
            datasets: [{
              data : sales,
              backgroundColor: ['#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384','#ff6384',]
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Sales(원)'
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
           },
           onClick: function barCliked(evt){
             $('#fillgauge1').show()
             if(salesPie){salesPie.destroy();}
             var ctx2 = document.getElementById("salesPie");
             var index = salesChart.getElementsAtEvent(evt)[0]['_index'];
             var salesRatio = sales[index]/salesData[index]['sales']*100
             console.log(sales[index]-(salesData[index]['p_salary']+salesData[index]['d_salary']+salesData[index]['etc']))
             console.log(salesData[8])
             salesPie = new Chart(ctx2, {
               type: 'pie',
               data: {
                 datasets:[{
                   data : [salesData[index]['sales'], salesData[index]['p_salary'], salesData[index]['d_salary'], salesData[index]['etc']],
                   backgroundColor: ['#ff6384','#36a2eb','#20b2aa','#ffce56']
                 }],
                 labels: ['차량매출','동승자 임금','기사 임금','기타']
               }
             });
             var config1 = liquidFillGaugeDefaultSettings();
             config1.circleColor = "#FF7777";
             config1.textColor = "#FF4444";
             config1.waveTextColor = "#FFAAAA";
             config1.waveColor = "#FFDDDD";
             config1.textSize = 0.5;
             loadLiquidFillGauge("fillgauge1", salesRatio );
           }
        }
    });
}
</script>
{% endblock content %}
