{% extends 'basic.html' %}
{% block content %}
<style>
  body{
    width:1060px;
    margin:50px auto;
  }
  path {  stroke: #fff; }
  path:hover {  opacity:0.9; }
  rect:hover {  fill:blue; }
  .axis {  font: 10px sans-serif; }
  .legend tr{    border-bottom:1px solid grey; }
  .legend tr:first-child{    border-top:1px solid grey; }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {  display: none; }
  .legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
  }
  .legend td{
    padding:4px 5px;
    vertical-align:bottom;
  }
  .legendFreq, .legendPerc{
    align:right;
    width:50px;
  }
</style>
<input id="aid" type="hidden" value="{{aid}}"></input> 
<input id="bid" type="hidden" value="{{bid}}"></input>
{% if user.is_superuser %} 
<div class="row" align="center">
  {% for a in area %}
    {% if aid == a.id %}
      <a href="carSalesStatus?aid={{a.id}}" type="button" class="btn btn-primary">{{a.name}}</a>
    {% else %}
      <a href="carSalesStatus?aid={{a.id}}" type="button" class="btn btn-default">{{a.name}}</a>
    {% endif %}  
  {% endfor %}
</div>
{% endif %}
<br>
<div class="row" align="center">
  {% for b in branch %}
    {% if bid == b.id %}
      <a href="carSalesStatus?aid={{aid}}&bid={{b.id}}" type="button" class="btn btn-info">{{b.bname}}</a>
    {% else %}
      <a href="carSalesStatus?aid={{aid}}&bid={{b.id}}" type="button" class="btn btn-default">{{b.bname}}</a>
    {% endif %}  
  {% endfor %}
</div>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <label>Car :</label>
      <select class="form-control select-car">
        <option selected>선택</option>
        {% for c in car %}
        <option value={{c.id}}>{{c.carname}}호차</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<br>
<canvas id="salesChart" width="400" height="400"></canvas>
<br>
<script>
  $(".select-car").change(function(e){
    var car = this.value
    $.ajax({
      url: "carSalesStatus",
      type: "POST",
      data: {
          flag : 'car',
          car : car
      },
      success: function(data){
          var sales = JSON.parse(data);
          setBarChart(sales);
      }
    })
  });

 function setBarChart(salesData){
     var ctx = document.getElementById("salesChart");
     var label = [];
     var sales = [];
     for(i = 0 ; i < salesData.length; i++){
         label.push(salesData[i]['month'])
         sales.push(salesData[i]['sales'])
     }
     var salesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels : label,
            label: "Sales (won)",
            datasets: [{ data : sales }] 
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Sales(원)'
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        offsetGridLines: true
                    }
                }]
           }
        }
    });
}

</script>
{% endblock content %}
