<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>SHUTTLE TAYO|고객의소리</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="{% static 'css/complain.css' %}" rel=stylesheet>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        #addbutton {
            position: fixed;
            top: 20%;
            right: 80%;
        }
        .container-contacts{
          background-color: #EFEFEF;
        }

        .community_container {
            width: 500px;
        }

        hr.style1 {
            border-top: 1px solid #8c8b8b;
            width:95%;
        }

        .container{
          width:100%;
        }
    </style>
</head>

<body>
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1 style="text-align:center;">
        <a href="/" style="text-decoration:none">셔틀타요가</a>&nbsp<small>&nbsp알려 드리겠습니다.</small></h1>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">글쓰기</h4>
                </div>
                <div class="modal-body">
                    <form action="community" method="post">
                        <label>작성자</label>
                        <select name="aname" class="form-control" value="{{contact.day}}">
                          <option value="ceo">ceo</option>
                          <option value="cco">cco</option>
                          <option value="cto">cto</option>
                        </select>
                        <label>제목</label>
                        <textarea class="form-control" cols="50" name="complain" rows="1"></textarea>
                        <label>내용</label>
                        <textarea class="form-control" cols="20" name="plan" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% if user.username == 'cto'%}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="addbutton">+</button>
        </div>
    </div>
    {% endif %}
        <ul class="timeline">
            {% for c in contacts %}
            <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy container-contacts">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <p class="timeline-event-thumbnail">{{c.showdate}}</p>
                      </div>
                      <div class="col-md-3 col-sm-3 like">
                        <a href="#" onclick="doLike(this,1,'{{user.id}}','{{c.id}}');"><span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>&nbsp<span class="badge">{{c.clike}}</span>
                      </div>
                      <div class="col-md-3 col-sm-3 like">
                        <a href="#" onclick="doLike(this,0,'{{user.id}}','{{c.id}}');"><span class="glyphicon glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>&nbsp<span class="badge">{{c.dlike}}</span>
                      </div>
                  </div>
                    <div class="container community_container">
                        <!-- <h4>제목</h4> -->
                        <strong><span aria-hidden="true" ></span>&nbsp{{c.complain|linebreaksbr}}</strong>
                <p>
                </p>
                      </div>
                    <div class="container community_container">
                        <!-- <h4>내용</h4> -->
                        <p><span aria-hidden="true"></span>&nbsp{{c.plan|linebreaksbr}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <div class="row">
        <br>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="center">
            <a class="btn btn-success" href="/accounts/login">로그인이 필요합니다.</a>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {% endif %}
</body>
<script>
    function doLike(ob,choice,uid,cid){

      $.ajax({
          url: "/community",
          type: "POST",
          data: {
              choice: choice,
              uid: uid,
              cid: cid
          },
          success: function(data) {
              if(data['error'] == 'true'){
                  alert('이미 선택했어요.')
              }
              else if(data['error'] == 'false'){
                  if(data['like'] == 1){
                    ob.parentNode.children[1].innerHTML = data['num'];
                  }
                  else if (data['like'] == 0) {
                    ob.parentNode.children[1].innerHTML = data['num'];
                  }
              }
          }
      });
    }


</script>

</html>
