
{% extends "base/navbase.html" %}
{% block content %}
{% load passenger_extras %}
{% load staticfiles %}
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-8 col-md-4">
            {% if user.is_staff or user|in_group:"academy" or user|in_group:"driver"%}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-success btn-lg btn-block" data-toggle="dropdown" aria-expanded="true">학원별 스케줄 보기</button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for academy in academies %}
		    {% if academy.name != 'primo' and academy.name != '에뚜알' and academy.name != '헬로아트' %}
                    {% if user.first_name = academy.name %}
                    <li>
                        <a onclick="getDay({{academy.id}})">{{academy.name}}</a>
                    </li>
                    {% endif %}
                    {% if user.is_staff or user|in_group:"driver"%}
                    <li>
                        <a onclick="getDay({{academy.id}})">{{academy.name}}</a>
                    </li>
                    {% endif %}
		    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <br>
            {% endif %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-danger btn-lg btn-block" aria-expanded="true" onclick="location.href='community'">불편 사례 보기</button>
            </div>
            <br>
            {% if user.is_staff or user|in_group:"driver" %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-success btn-lg btn-block" data-toggle="dropdown" aria-expanded="true">기사님용 스케줄 보기</button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for d in driver %}
                    <li>
                        <a onclick="getDayDriver({{d.gid}})">{{ d.gname }} {{d.bname}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <button id="dLabel" type="button" class="btn btn-success btn-lg btn-block" data-toggle="dropdown" aria-expanded="true" onclick="location.href='dateSchedule?what=single'">지난 스케줄 보기</button>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-success btn-lg btn-block" data-toggle="dropdown" aria-expanded="true">호차별 스케줄 관리</button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for d in driver %}
                    <li>
                        <a onclick="updateDay({{d.gid}})">{{ d.gname }} {{d.bname}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-success btn-lg btn-block" data-toggle="dropdown" aria-expanded="true">학원별 스케줄 관리</button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for academy in academies %}
                    <li>
                        <a onclick="updateDayAca({{academy.id}})">{{academy.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-info btn-lg btn-block" data-toggle="dropdown" aria-expanded="true" onclick="studata()">학원별 학생 데이터관리(Beta)</button>
            </div>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="dropdown" aria-expanded="true">PUT SCHEDULE</button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for b in branch %}
                    <li>
                        <a href="inventory/putSchedule?bid={{b.id}}">{{b.bname}}</a>
                        <li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            {% endif %}
            {% if user.is_staff %}
                <a id="dLabel" type="button" href='inventory/updateSchedule' class="btn btn-primary btn-lg btn-block" aria-expanded="true">UPDATE SCHEDULE</a>
            <br>
            {% endif %}
            {% if user.is_staff %}
            <button id="dLabel" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#getschedule">학원용 스케쥴보기</button>
            <div class="modal fade" id="getschedule" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                      {% if user|in_group:"driver" %}
                      <div class="modal-body">
                          {% for b in branch %}
                              {% if user.profile.bid == b.id %}
                              <button type="button" class="btn btn-info" onclick="getAcaButton(this,{{b.id}})">{{b.bname}}</button>
                              {% endif %}
                          {% endfor %}
                      </div>
                      {% endif %}
                      {% if user.is_staff %}
                      <div class="modal-body">
                          {% for b in branch %}
                              <button type="button" class="btn btn-info" onclick="getAcaButton(this,{{b.id}})">{{b.bname}}</button>
                          {% endfor %}
                      </div>
                      {% endif %}
                        <div class="modal-body academypadding" id="specific">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% if user|in_group:"academy"%}
            <button id="dLabel" type="button" class="btn btn-primary btn-lg btn-block"  onclick="location.href='/inventory/getSchedule'"data-toggle="modal" data-target="#getschedule">학원용 스케쥴보기</button>
            <br>
            {% endif %}
            {% if user.is_staff or user|in_group:"driver" %}
            <button id="dridLabel"type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#getdrischedule">기사용 스케쥴보기</button>
            <div class="modal fade" id="getdrischedule" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% if user|in_group:"driver" %}
                        <div class="modal-body">
                            {% for b in branch %}
                                {% if user.profile.bid == b.id %}
                                <button type="button" class="btn btn-info" onclick="getDriButton(this,{{b.id}})">{{b.bname}}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if user.is_staff %}
                        <div class="modal-body">
                            {% for b in branch %}
                                <button type="button" class="btn btn-info btn-lg" onclick="getDriButton(this,{{b.id}})" >{{b.bname}}</button>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="modal-body academypadding" id="driverspecific">
                        </div>
                    </div>
                </div>
            </div>
          
            {% endif %}
            <!--{% if user.is_staff %}
            <button id="dLabel" type="button" class="btn btn-warning btn-lg btn-block" data-toggle="dropdown" aria-expanded="true" onclick="location.href='sturegi'">신입생 등록요청(테스트중)</button>
            {% endif %}-->
		<div id="homescreen"></div>
        </div>
        <div class="col-xs-2 col-sm-4"></div>
    </div>
    <div class="row">
        <br>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="schedule" align="center"></div>
        <div class="col-sm-4"></div>
    </div>
    <script>
	if (navigator.userAgent.match(/android/i)) {
		$('#homescreen')[0].innerHTML = '<a class="btn btn-info btn-lg btn-block" aria-expanded="true" href="intent://addshortcut?url=http://www.edticket.com&icon=http://www.edticket.com/static/img/tayologo.png&title=셔틀타요&oq=%ED%8C%A8%EC%85%98%ED%92%80&serviceCode=tayo&version=7#Intent;scheme=naversearchapp;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;package=com.nhn.android.search;end" onclick="nclk(this,\'fot.shorcut\',\'\',\'\',event);" class="u_sc">바로가기 만들기  <i class="fa fa-download"></i></a>';
	}

        function getSchedule(gid) {
            $.ajax({
                type: 'POST',
                url: 'schedule',
                data: {
                    gid: gid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function getDriver(gid) {
            $.ajax({
                type: 'POST',
                url: 'driverschedule',
                data: {
                    gid: gid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function getDay(aid) {
            $.ajax({
                type: 'POST',
                url: 'day',
                data: {
                    aid: aid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function getDayDriver(gid) {
            $.ajax({
                type: 'POST',
                url: 'driverday',
                data: {
                    gid: gid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function updateDay(gid) {
            $.ajax({
                type: 'POST',
                url: 'updateDay',
                data: {
                    gid: gid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function updateDayAca(aid) {
            $.ajax({
                type: 'POST',
                url: 'uDay',
                data: {
                    aid: aid
                },
                success: function(resp) {
                    var input = "";
                    input += resp;
                    document.getElementById("schedule").innerHTML = input;
                    return true;
                }
            });
        }

        function studata() {
            var UserAgent = navigator.userAgent;
            if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null) {
                alert("모바일은 지원하지 않습니다.");
            } else {
                location.href = "/studata";
            }
        }

        function getAcaButton(t, bid){
            $.ajax({
                type: 'GET',
                url: 'getAcaButton',
                data: {
                    bid: bid
                  },
                success: function(resp) {
                    $('#specific').html(resp)
               }
             });
        }

        function getDriButton(t, bid){
            $.ajax({
                type: 'GET',
                url: 'getDriButton',
                data: {
                    bid: bid
                  },
                success: function(resp) {
                    $('#driverspecific').html(resp)
               }
             });
        }
    </script>
    {% endblock content %}
