<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
{% load staticfiles %}
    <meta charset="UTF-8">
    <title>TAYO</title>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey=9c78e49d-c72c-36a6-8e25-5c249e9291a3
"></script>
    <script type="text/javascript" src="{% static 'js/graph.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body  onload="init()">
<input id="a_name" type="hidden" value={{academy.name}}>
<input id="lon" type="hidden" value={{academy.lon}}>
<input id="lat" type="hidden" value={{academy.lat}}>
<input id="aid" type="hidden" value={{academy.id}}>
<div class="row">
    <div class="col-md-8">
        <div id="map_div" style="width:500px;height:500px;"></div>
    </div>
    <div class="col-md-4">
        <div class="row">
        <ul class="list-group">
            <br>
            <h4 align="center">학생 리스트</h4>
            <br>
            {% for contact in contacts %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                        <div class="students" id="{{contact.id}}">
                           <a href = "tel:{{contact.m_phone}}" data-toggle="tooltip" title="{{contact.schedule|safe}}">{{contact.s_name}}</a><input type="hidden" value={{contact.l_lon}}> <input type="hidden" value={{contact.l_lat}}> <input type="hidden" value={{contact.u_lon}}> <input type="hidden" value={{contact.u_lat}}> <input type="hidden" value={{contact.load}}>
                           <input type="hidden" value={{contact.unload}}>
                        </div>
                        <div>{{contact.name}}</div>
                        </div>
                    </div>
                    <div class="col-md-6" align="right">
                        {% if contact.load %}
                        <button type="button" class="btn btn-primary" onclick="setLoadPosition({{contact.id}});">등원
                        {% endif %}
                        {% if contact.unload %}
                        <button type="button" class="btn btn-success" onclick="setUnloadPosition({{contact.id}});">하원
                        {% endif %}
                        <button type="button" class="btn btn-warning">결석
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6" align="right">
            </div>
        </div>

        <div class="row">
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody id="info-marker">

            </tbody>
        </table>
        </div>
        <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
        <button type="button" class="btn btn-primary" onclick="getOptimized();">노드계산</button>
        <button type="button" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="getOpti();">최적동선 찾기</button>
        </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">동선 결과&nbsp {{schedule}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <h3 id="recommand"></h3>
        </div>
      </div>
      <hr>
      <div class="modal-body">
        <h3>스케쥴 작성하기</h3>
        <div class="row">
            <div class="form-group">
            <div class="col-sm-12">
                <br>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="시간(소팅용)" id="sorting_time">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="요일" id="day">
                        </div>
                        <div class="col-xs-4">
                            {% for contact in contacts %}
                            <input type="hidden" placeholder="탑승자" class="slist" value="{{contact.id}}">
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <br>
                    <textarea class="form-control" rows="7" id="writing"></textarea>
                    <br>
                    <button class="btn btn-primary" onclick="addSchedule({{gid}})">Submit</button>
            </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
<script>
    markers = []
    var number = 0;
    academy_flag = 0;
    function setVariables(){
                cLonLat = new Tmap.LonLat(14157347.495401,4518295.6429955);
                        //중심점 좌표 입니다. EPSG3857 좌표계 형식 입니다.
                zoom = 16;  // zoom level입니다.  0~19 레벨을 서비스 하고 있습니다.
                mapW = '500px';  // 지도의 가로 크기 입니다.
                mapH = '400px';  // 지도의 세로 크기 입니다.
    }

     var map;
     var mapW, mapH;     // 지도의 가로, 세로 크기(Pixel단위) 를 지정 합니다.
     var cLonLat, zoom;      //중심 좌표와 지도레벨을 정의 합니다.

     function setVariables(){
        cLonLat = new Tmap.LonLat(14157347.495401,4518295.6429955);
            //중심점 좌표 입니다. EPSG3857 좌표계 형식 입니다.
            zoom = 16;  // zoom level입니다.  0~19 레벨을 서비스 하고 있습니다.
            mapW = '100%';  // 지도의 가로 크기 입니다.
            mapH = '600px';  // 지도의 세로 크기 입니다.
    }

    function init() {
        setVariables();
        map = new Tmap.Map({div:'map_div', width:mapW, height:mapH, animation:true});
        // div : 지도가 생성될 div의 id값과 같은 값을 옵션으로 정의 합니다.
        // Tmap,Map 클래스에 대한 상세 사항은 "JavaScript" 하위메뉴인 "기본 기능" 페이지를 참조 해주세요.
        map.events.register("click", map, onClickMap);
        map.setCenter(cLonLat,zoom);
    }

//    function initTmap(){
//        map = new Tmap.Map({div:'map_div', width:'100%', height:'800px'});
//        map.events.register("click", map, onClickMap);

//    }


    function onClickMap(e){
        var markerLayer = new Tmap.Layer.Markers();
        map.addLayer(markerLayer);

        var lonlat = map.getLonLatFromViewPortPx(e.xy);
        var icon = new Tmap.Icon('https://developers.skplanetx.com/upload/tmap/marker/pin_b_m_a.png');

        var marker = new Tmap.Marker(lonlat, icon);
        markerLayer.addMarker(marker);

        setTable(marker.lonlat);

        //markers.push(marker);
    }

    function setTable(position){
        //marker info table
        var node_tr = document.createElement('tr');
        var node_td = document.createElement('td');


        node_td.innerText = number+ ' ' + position;
        var target = document.getElementById('info-marker');

        target.appendChild(node_tr);
        target.appendChild(node_td);

        number++;
    }

    var g = new Graph();

    var source = []
    function getOptimized(){
        //getWeight(markers[0].lonlat, markers[1].lonlat);

        console.log(markers)
        for(var i = 0; i <markers.length; i++){
            g.addNode(markers[i][0].toString());
        }

        for(var j = 0; j < markers.length; j++){
            for(var k = j+1; k < markers.length; k++){
                getWeight(markers[j][1],markers[j][2], markers[k][1],markers[k][2],g.nodes[j],g.nodes[k],function(){
                    var temp = this.valueOf();
                    edge_1 = temp[0].toString();
                    edge_2 = temp[1].toString();
                    edge_3 = temp[2];
                    var temp_s = [edge_1, edge_2, edge_3];
                    source.push(temp_s);
                    g.addEdge(edge_1, edge_2,edge_3);
                });

            }
        }
    alert("Done")
    }

    function getOpti(){
        var source_result = []
        var result = Prim(g);

        doc = document.getElementById('recommand');
        var temp = '';
        console.log(result);
        var source_j = 0;
        var source_k = 1;

        var academy = document.getElementById('a_name').value;
        var a_lon = document.getElementById('lon').value;
        var a_lat = document.getElementById('lat').value;

        var result_j = 0;
        result.push(academy);


        for(var j = 0; j < result.length - 1; j++){
            for(var k = 0; k < source.length; k++){
                if(result[source_j] == source[k][0] && result[source_k] == source[k][1]){
                    source_result.push(source[k][2])
                }else if(result[source_j] == source[k][1] && result[source_k] == source[k][0]){
                    source_result.push(source[k][2])
                }
            }
            source_j++;
            source_k++;
        }

        var all_time = 0;
        for(var i = 0; i < result.length; i++){
            if(i < result.length -1){
                temp += ' ' + result[i] + ' ' + '<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>' +'('+source_result[result_j]+')';
            }
            else{
                temp += ' ' + result[i]
            }

            if(typeof(source_result[result_j]) != "undefined"){
                all_time += source_result[result_j];
            }
            result_j++;
        }
        doc.innerHTML = temp+'&nbsp&nbsp'+' <span class="glyphicon glyphicon-time" aria-hidden="true"></span>'+' : '+Math.floor(all_time/60)+'M';
    }

    var capacity;

    function getWeight(start_lon,start_lat, end_lon, end_lat,j,k, callback) {

        var j = j;
        var k = k;
        var startX = start_lon;
        var startY = start_lat;
        var endX = end_lon;
        var endY = end_lat;
        var urlStr = "https://apis.skplanetx.com/tmap/routes?version=1";
        urlStr += "&startX=" + startX;
        urlStr += "&startY=" + startY;
        urlStr += "&endX=" + endX;
        urlStr += "&endY=" + endY;
        urlStr += "&appKey=9c78e49d-c72c-36a6-8e25-5c249e9291a3";

        var xmlHttp = new XMLHttpRequest();


        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                capacity = xmlHttp.responseText;
                jsonObj = JSON.parse(capacity);

                capa = jsonObj.features[0].properties.totalTime;

                capacity = []
                capacity.push(j);
                capacity.push(k);
                capacity.push(capa);

                console.log(capacity);
                callback.apply(capacity);
            }else if(xmlHttp.readyState == 4 && xmlHttp.status == 400){
                capacity = []
                capacity.push(j);
                capacity.push(k);
                capacity.push(0);

                callback.apply(capacity);
            }
        }

        xmlHttp.open("GET", urlStr, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function setLoadPosition(id){
        var id = id;

        var a = [];
        var name = document.getElementById(id).innerText;
        var l_lon = document.getElementById(id).getElementsByTagName('input')[0].value
        var l_lat = document.getElementById(id).getElementsByTagName('input')[1].value
        var location = document.getElementById(id).getElementsByTagName('input')[4].value
        var academy = document.getElementById('a_name').value;
        var a_lon = document.getElementById('lon').value;
        var a_lat = document.getElementById('lat').value;
        if(academy_flag == 0){
            a.push(academy,a_lon,a_lat)
            academy_flag = 1
            markers.push(a)
        }
        var node_tr = document.createElement('tr');
        var node_td = document.createElement('td');

        node_td.innerText = name + ' ' + location+' ' + l_lon + ' ' + l_lat;
        var target = document.getElementById('info-marker');

        target.appendChild(node_tr);
        target.appendChild(node_td);

        var temp = []
        temp.push(name)
        temp.push(l_lon)
        temp.push(l_lat)

        markers.push(temp)
    }
    function setUnloadPosition(id){
        var id = id;
        var a = [];
        var name = document.getElementById(id).innerText;
        var u_lon = document.getElementById(id).getElementsByTagName('input')[2].value
        var u_lat = document.getElementById(id).getElementsByTagName('input')[3]
.value
        var location = document.getElementById(id).getElementsByTagName('input')[5].value
        var academy = document.getElementById('a_name').value;
        var a_lon = document.getElementById('lon').value;
        var a_lat = document.getElementById('lat').value;
        if(academy_flag == 0){
            a.push(academy,a_lon,a_lat)
            markers.push(a)
            academy_flag = 1
        }
        var node_tr = document.createElement('tr');
        var node_td = document.createElement('td');

        node_td.innerText = name + ' ' +location+' '+ u_lon + ' ' + u_lat;
        var target = document.getElementById('info-marker');

        target.appendChild(node_tr);
        target.appendChild(node_td);

        var temp = []
        temp.push(name)
        temp.push(u_lon)
        temp.push(u_lat)

        markers.push(temp)
    }
    </script>
    <script>
        function addSchedule(gid){
            a_name = document.getElementById('a_name').value;
            sorting_time = document.getElementById('sorting_time').value;
            writing = document.getElementById('writing').value;
            day = document.getElementById('day').value;
            aid = document.getElementById('aid').value;
            slist = document.getElementsByClassName('slist');
            slists = []
            for(i = 0 ; i < slist.length; i++){
                slists.push(slist[i].value)
            }
            $.ajax({
                url: "/addSchedule",
                type: "POST",
                data: {
                        a_name: a_name,
                        sorting_time: sorting_time,
                        writing: writing,
                        day: day,
                        gid: gid,
                        aid: aid,
                        slist: slists,
                      },
                success: function(data){
                        alert(data)
                }
            });
        }

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</html>
