<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>TAYO</title>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/dynamicTable.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- 모바일용 바탕화면 바로가기 아이콘 택없음 -->
    <link href="{% static 'img/tayologo.png' %}" rel="apple-touch-icon-precomposed"></link>
    <!-- 모바일용 바탕화면 바로가기 아이콘(IOS)114*114 -->
    <link href="{% static 'img/tayologo.png' %}" rel="apple-touch-icon"></link>
    <!-- 모바일용 바탕화면 바로가기 아이콘(Android) -->
    <link href="{% static 'img/tayologo.png' %}" rel="shortcut icon"></link>
    <style>
        .table-sortable tbody tr {
            cursor: move;
        }
    </style>
    <script>
      var userAgent = navigator.userAgent.toLowerCase();

      if(userAgent.match('iphone')) {
        document.write('<link rel="apple-touch-icon" href="/mobile/image/apple-touch-icon.png" />')
      } else if(userAgent.match('ipad')) {
        document.write('<link rel="apple-touch-icon" sizes="72*72" href="/mobile/image/apple-touch-icon-ipad.png" />')
      } else if(userAgent.match('ipod')) {
        document.write('<link rel="apple-touch-icon" href="/mobile/image/apple-touch-icon.png" />')
      } else if(userAgent.match('android')) {
        document.write('<link rel="shortcut icon" href="/mobile/image/favicon.ico" />')
      } else {
        document.write('<link rel="shortcut icon" href="/mobile/image/favicon.ico" />')
      }
    </script>
</head>
<body id="background">
  {% if user.is_authenticated %}
  <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="dateNav">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                      <img alt="ShuttleTayo" width="22%" src="{% static 'img/tayologo.png' %}"></img>
                  </a>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <!--
                  <li>
                      <a href="dateSchedule?what=single">학원 일짜별 스케쥴 보기</a>
                  </li>
                  <li>
                      <a href="dateSchedule?what=range">구간별 스케쥴 카운팅</a>
                  </li>
                  -->
                      <li>
                          <a href="#">반갑습니다 {{user.first_name}}님</a>
                      </li>
                      <li>
                          <a href="logout">Logout</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
  </div>

        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12 table-responsive">
                    <div class="row">
                        <div class="col-md-4">
                            <label>DAY:</label>
                            <select class="form-control" id="{{contact.id}}gid">
                              <option value="" selected>월</option>
                              <option value="">화</option>
                              <option value="">수</option>
                              <option value="">목</option>
                              <option value="">금</option>
                              <option value="">토</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>CAR:</label>
                            <select class="form-control" id="{{contact.id}}gid">
                              <option value="" selected>호차</option>
                              {% for g in group %}
                              <option value="{{g.gid}}">{{g.gname}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    시간
                                </th>
                                <th class="text-center">
                                    주소
                                </th>
                                <th class="text-center">
                                    이름
                                </th>
                                <th class="text-center">
                                    학원선택
                                </th>
                                <th class="text-center">
                                    선택학원
                                </th>
                                <th class="text-center">
                                    등하원
                                </th>
                                <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id='addr0' data-id="0" class="hidden">
                                <td data-name="time">
                                    <input type="text" name='time0' placeholder='Time' class="form-control" />
                                </td>
                                <td data-name="addr">
                                    <input type="text" name='mail0' placeholder='Email' class="form-control" />
                                </td>
                                <td data-name="name">
                                    <input type="text" name='name0' placeholder='Name' class="form-control" />
                                </td>
                                <td data-name="sel">
                                    <select class="form-control" onchange="addAca(this)">
                                        <option value="">학원선택</option>
                                        {% for a in academy %}
                                        <option value = "{{a.id}}">{{a.name}}({{a.id}})</option>
                                        {% endfor %}
                                      </select>
                                    <br>
                                    <br>
                                </td>
                                <td data-name="academy">
                                  <input type="text" name='academy' class="form-control" />
                                </td>
                                <td data-name="sel">
                                    <select name="load">
        				                        <option value="">등하원</option>
    					                          <option value="1">등원</option>
        				                        <option value="2">하원</option>
						                        </select>
                                </td>
                                <td data-name="del">
                                    <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a id="add_row" class="btn btn-default pull-right" onclick="emptyTempList();">Add Row</a>
            </div>
            <div id="recommand_inven" class="col-md-3">
                <div class="row affix bg-info">
                    <h3 align="center">인벤토리추천</h3>
                    <br>
                    <label for="exampleInputEmail1">요일</label>
                    <select class="form-control" id="{{contact.id}}gid">
                        <option value="" selected>월</option>
                        <option value="">화</option>
                        <option value="">수</option>
                        <option value="">목</option>
                        <option value="">금</option>
                        <option value="">토</option>
                      </select>
                    <label for="exampleInputEmail1">시작시간</label>
                    <input type="email" class="form-control" placeholder="시작시간">

                    <br>
                    <a class="btn btn-default pull-right">검색</a>
                </div>
            </div>
            {% else %}
            <div class="row">
                <br>
                <div class="col-sm-4"></div>
                <div class="col-sm-4" align="center">
                    <a class="btn btn-success" href="/accounts/login">로그인이 필요합니다.</a>
                </div>
                <div class="col-sm-4"></div>
            </div>
            {% endif %}
</body>
<script>
var tempList = new Array();

function addAca(selected) {
    tempList.push(selected.value);
    selected.parentNode.parentNode.children[4].children[0].value = tempList;
    console.log(selected.parentNode.parentNode.children[4].children[0].value)
}


function emptyTempList(){
    tempList.splice(0,tempList.length);
}


</script>

</html>
