    <div class="row">
    <ul class="list-group">
        {% for academy in academys %}
        {% if academy.schedule_1 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_1}}&aid={{academy.id}}">{{academy.schedule_1}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_2 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_2}}&aid={{academy.id}}">{{academy.schedule_2}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_3 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_3}}&aid={{academy.id}}">{{academy.schedule_3}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_4 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_4}}&aid={{academy.id}}">{{academy.schedule_4}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_5 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_5}}&aid={{academy.id}}">{{academy.schedule_5}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_6 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_6}}&aid={{academy.id}}">{{academy.schedule_6}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_7 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_7}}&aid={{academy.id}}">{{academy.schedule_7}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_8 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_8}}&aid={{academy.id}}">{{academy.schedule_8}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_9 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_9}}&aid={{academy.id}}">{{academy.schedule_9}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_10 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_10}}&aid={{academy.id}}">{{academy.schedule_10}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_11 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_11}}&aid={{academy.id}}">{{academy.schedule_11}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_12 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_12}}&aid={{academy.id}}">{{academy.schedule_12}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_13 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_13}}&aid={{academy.id}}">{{academy.schedule_13}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_14 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_14}}&aid={{academy.id}}">{{academy.schedule_14}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_15 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_15}}&aid={{academy.id}}">{{academy.schedule_15}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_16 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_16}}&aid={{academy.id}}">{{academy.schedule_16}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_17 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_17}}&aid={{academy.id}}">{{academy.schedule_17}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_18 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_18}}&aid={{academy.id}}">{{academy.schedule_18}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_19 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_19}}&aid={{academy.id}}">{{academy.schedule_19}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_20 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_20}}&aid={{academy.id}}">{{academy.schedule_20}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_21 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_21}}&aid={{academy.id}}">{{academy.schedule_21}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_22 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_22}}&aid={{academy.id}}">{{academy.schedule_22}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_23 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_23}}&aid={{academy.id}}">{{academy.schedule_23}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_24 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_24}}&aid={{academy.id}}">{{academy.schedule_24}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_25 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_25}}&aid={{academy.id}}">{{academy.schedule_25}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_26 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_26}}&aid={{academy.id}}">{{academy.schedule_26}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_27 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_27}}&aid={{academy.id}}">{{academy.schedule_27}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_28 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_28}}&aid={{academy.id}}">{{academy.schedule_28}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_29 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_29}}&aid={{academy.id}}">{{academy.schedule_29}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_30 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_30}}&aid={{academy.id}}">{{academy.schedule_30}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_31 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_31}}&aid={{academy.id}}">{{academy.schedule_31}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_32 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_32}}&aid={{academy.id}}">{{academy.schedule_32}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_33 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_33}}&aid={{academy.id}}">{{academy.schedule_33}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_34 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_34}}&aid={{academy.id}}">{{academy.schedule_34}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_35 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_35}}&aid={{academy.id}}">{{academy.schedule_35}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_36 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_36}}&aid={{academy.id}}">{{academy.schedule_36}}</a>
        </li>
        {% endif %} 
        {% if academy.schedule_37 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_37}}&aid={{academy.id}}">{{academy.schedule_37}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_38 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_38}}&aid={{academy.id}}">{{academy.schedule_38}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_39 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_39}}&aid={{academy.id}}">{{academy.schedule_39}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_40 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_40}}&aid={{academy.id}}">{{academy.schedule_40}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_41 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_41}}&aid={{academy.id}}">{{academy.schedule_41}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_42 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_42}}&aid={{academy.id}}">{{academy.schedule_42}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_43 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_43}}&aid={{academy.id}}">{{academy.schedule_43}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_44 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_44}}&aid={{academy.id}}">{{academy.schedule_44}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_45 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_45}}&aid={{academy.id}}">{{academy.schedule_45}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_46 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_46}}&aid={{academy.id}}">{{academy.schedule_46}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_47 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_47}}&aid={{academy.id}}">{{academy.schedule_47}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_48 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_48}}&aid={{academy.id}}">{{academy.schedule_48}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_49 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_49}}&aid={{academy.id}}">{{academy.schedule_49}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_50 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_50}}&aid={{academy.id}}">{{academy.schedule_50}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_51 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_51}}&aid={{academy.id}}">{{academy.schedule_51}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_52 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_52}}&aid={{academy.id}}">{{academy.schedule_52}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_53 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_53}}&aid={{academy.id}}">{{academy.schedule_53}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_54 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_54}}&aid={{academy.id}}">{{academy.schedule_54}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_55 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_55}}&aid={{academy.id}}">{{academy.schedule_55}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_56 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_56}}&aid={{academy.id}}">{{academy.schedule_56}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_57 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_57}}&aid={{academy.id}}">{{academy.schedule_57}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_58 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_58}}&aid={{academy.id}}">{{academy.schedule_58}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_59 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_59}}&aid={{academy.id}}">{{academy.schedule_59}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_60 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_60}}&aid={{academy.id}}">{{academy.schedule_60}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_61 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_61}}&aid={{academy.id}}">{{academy.schedule_61}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_62 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_62}}&aid={{academy.id}}">{{academy.schedule_62}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_63 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_63}}&aid={{academy.id}}">{{academy.schedule_63}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_64 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_64}}&aid={{academy.id}}">{{academy.schedule_64}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_65 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_65}}&aid={{academy.id}}">{{academy.schedule_65}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_66 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_66}}&aid={{academy.id}}">{{academy.schedule_66}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_67 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_67}}&aid={{academy.id}}">{{academy.schedule_67}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_68 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_68}}&aid={{academy.id}}">{{academy.schedule_68}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_69 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_69}}&aid={{academy.id}}">{{academy.schedule_69}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_70 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_70}}&aid={{academy.id}}">{{academy.schedule_70}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_71 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_71}}&aid={{academy.id}}">{{academy.schedule_71}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_72 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_72}}&aid={{academy.id}}">{{academy.schedule_72}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_73 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_73}}&aid={{academy.id}}">{{academy.schedule_73}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_74 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_74}}&aid={{academy.id}}">{{academy.schedule_74}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_75 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_75}}&aid={{academy.id}}">{{academy.schedule_75}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_76 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_76}}&aid={{academy.id}}">{{academy.schedule_76}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_77 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_77}}&aid={{academy.id}}">{{academy.schedule_77}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_78 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_78}}&aid={{academy.id}}">{{academy.schedule_79}}</a>
        </li>
        {% endif %}
        {% if academy.schedule_80 %}
        <li class="list-group-item">
            <a href="safetyTayo?gid={{academy.gid}}&schedule={{academy.schedule_80}}&aid={{academy.id}}">{{academy.schedule_80}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
