 <div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=월">월요일</a>
        </li>
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=화">화요일</a>
        </li>
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=수">수요일</a>
        </li>
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=목">목요일</a>
        </li>
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=금">금요일</a>
        </li>
        <li class="list-group-item">
            <a href="uAca?aid={{aid}}&day=토">토요일</a>
        </li>
    </ul>
 </div>
